[2011-12-23 10:10] mattlindesay opened #750 "Add a function to DB to fetch one row at a time"
I have a large table that I need to process a record at a time and using the current DB class blows out my memory limit on execute().

I was thinking of extending the DB and PDO classes to add an execute_only() and fetch() function or something along those lines, so that I can loop through the records fetching one at a time rather than try (and fail) to read the whole table into memory.

Can you p

[2011-12-23 11:20] jschreuder commented on #750
Why not just do something along these lines:

[code]

I don't really think we need to automate every usecase, this seems a perfectly reasonable solution to me.

[2011-12-23 14:04] mattlindesay commented on #750
Thanks Jelmer - I'll give that a go.

[2011-12-23 14:21] mattlindesay commented on #750
OK that does the trick. Thanks again.

[2011-12-23 14:51] #750 closed, assigned to nobody

[2011-12-23 17:03] billmn opened #751 "Wrong label's "for" attribute"
I'm using fieldset class (but I think this is a problem of Form class) ... and I notice that labels have a wrong "for" attribute, the auto_id_prefix is double.

<pre>
&lt;label for="form_form_code" class="control-label">Code&lt;/label>
&lt;input type="text" value="" name="code" id="form_code" required="required">
</pre>

[2011-12-24 03:57] danmatthews opened #752 "Autoload Problem using Validation->add_callable"
Using the methods suggested in [Validation - Classes](http://docs.fuelphp.com/classes/validation/validation.html), i created a new  file and class at `fuel/app/classes/login_validation.php`, with the following (test) code:

[code]

Then, to use it with a validation sequence in a controller i used:

[code]

But i get an exception:
`InvalidArgumentException [ Error ]: Input for add_callable is not a

[2011-12-24 08:11] dmyers commented on #744
Oh okay nevermind. Just wondered.

[2011-12-24 08:11] #744 closed, assigned to nobody

[2011-12-24 10:43] WanWizard commented on #752
You have an underscore in your classname.

According to the cascading filesystem, this class should be in app/classes/login/validation.php. Now FuelPHP can't find the class, hence the error.

[2011-12-24 10:43] #752 closed, assigned to nobody

[2011-12-24 14:03] danmatthews commented on #752
Ah, ok, thanks. Is there any more documentation on the cascading file system and where this applies when loading classes? I apologise if this is an RTFM situation, but when following the example from the validation documentation, it can be very confusing.

[2011-12-24 14:11] WanWizard commented on #752
see http://docs.fuelphp.com/general/classes.html#/classes_subdirectories

[2011-12-27 11:37] Djuki commented on #566
@WanWizard This solution is not correct. With this connection method you make driver connection objects, available, and you call PDO method directly. What happens when user change database driver to MySqli for instance ?

Database_Connection should be expand with new abstract method last_insert_id() and every driver need to implement it.

Please @dhorrigan and @philsturgeon , i want your opinion a

[2011-12-27 12:05] WanWizard commented on #566
This was a quick fix.

The database drivers and query builder are up for a complete redesign for v2.0. This is one of the many issues to be solved to make the database layer truely platform independent.

[2011-12-27 12:33] philsturgeon commented on #566
Yep agreed with @WanWizard, this will be part of the proper rebuild for 2.0.

[2011-12-28 20:11] Djuki commented on #566
@WanWizard @philsturgeon Thank you for fast answers. I forked core, and commit last insert id implementation.

https://github.com/Djuki/core/commit/fdcf81f7dbfd599c2b813572eb9391f14a206b97

Now we can call DB::last_insert_id() method to get last insert id, and I changed PDO, MySql and Mysqli drivers.

Whatt do you think, Can this peace of code be part of FUEL ? Should i pull request ?

[2011-12-29 07:41] shulcsm commented on #566
Speaking of postgres compatibility. Looks like DBUtils aren't compatible as well so things like migrations are not usable :(
I assume we won't see 2.0 in near future. Is it worth trying to fix these issues now or just wait for 2.0?

[2011-12-29 11:25] WanWizard commented on #566
The big change for 2.0 is that all platform dependent SQL has to move from the generic classes to the platform driver classes. This includes DBUtil SQL, but also the SQL compilation functions of the Query Builder.

All platform drivers are going to be PDO based, so they will all share a generic interface.

I've already setup a local branch for this, and started the work. As soon as it is ready for

[2011-12-29 15:37] Djuki commented on #566
When we can expect 2.0 ?

I am developing in FUEL, and i want to keep my core up to date. Can we we expect compatibility with 1.1 version.

[2011-12-30 09:11] WanWizard commented on #566
It's still not sure if the next one is going to be 1.2 or 2.0.

We use a x.y.z. version scheme:
.z: bug fixes only
.y: function changes possible, deprecation before removal
.x: everything can change

In case of the DB layer, don't expect compatibility. But we'll try to limit the changes to search&replace operations, we have applications in the field too...

[2011-12-30 09:23] Djuki commented on #566
Thank you very much.

[2011-12-31 01:00] Mitchell64 opened #758 "Form labels not quite correct"
I've noticed a couple of issues with the form output regarding labels.

1) When using check boxes, the "label" field output looks like the following:

[code]

My understanding is that the 1st label tag with for="" should not be there. I believe this was an issue quite a while ago and was fixed, but somewhere this error was reintroduced.

2) When the "required_mark" is used, I believe it is not dis

[2011-12-31 01:05] Mitchell64 commented on #751
I noticed the same thing and ended up removing the auto_id_prefix by setting it to ''.

I also noticed a couple of other issues with the form output that I documented in Issue #758.

[2012-01-01 12:17] #741 closed, assigned to frankdejonge

[2012-01-01 14:53] darklow commented on #758
I totally agree with @Mitchell64 about the position of required mark. There is no way using current available template config to put required mark in the label field.

[2012-01-03 15:21] Djuki opened #759 "Get params in controler action with Request object and routing"
In ViewModel we can get request param like this

$this->name = $this->request()->param('name', 'World');

Controller should have request method to return Request object,
 so we can get parameters from it, without need to add parameters in action controller. Instead params in action methods we can just set up proper route

return array(
'_root_' => 'welcome/index', // The default route
'_404_' => '

[2012-01-03 15:29] WanWizard commented on #759
That does not give you a request (as in GET or POST) param, it will give you a named segment in the URI.

And controllers do have the request object available in $this->request. So

[code]

will work nicely in a controller method...

[2012-01-03 22:43] HellPat opened #760 "is_null() vs === NULL"
direct comparison seems to be faster than calling the function.

http://hakre.wordpress.com/2011/03/29/php-is_null-vs-null/

[2012-01-03 23:00] jschreuder commented on #760
This is both so incredibly small that neither matters, we've done extensive benchmarking and is_null() hardly even registers. This is not the type of optimization that has any real-world relevance.

[2012-01-03 23:18] #760 closed, assigned to nobody

[2012-01-04 20:56] kloy opened #762 "Imagemagik throwing error when using Image::load()"
imagemagick throws "ErrorException [ Warning ]: unlink(): No such file or directory" when  calling Image::load on an invalid file.

[2012-01-05 12:14] mikebranderhorst opened #764 "Lang::save() feature request (for 1.1)"
The code below is mostly from Config::save()

[code]

[2012-01-05 12:26] crynobone commented on #764
Don't think it would be useful, unless we have Lang::set() method. Even with that Lang::load() only load single language.

[2012-01-05 13:41] mikebranderhorst commented on #764
There is a Lang::set() https://github.com/fuel/core/blob/1.1/develop/classes/lang.php#L116

The functionality is similar to Config::save()

I generate language files automatically from db or external resource.
I use for example: http://www.unicode.org/repos/cldr/trunk/common/main/en.xml

[2012-01-06 00:16] WanWizard commented on #764
My CMS has a translation module that aids in making new languages (without having to edit php files which most users don't want). As it is database driven, it could benefit from an addition like this.

I'm traveling at the moment, it nobody else checks this out, it will be for next week...

[2012-01-06 22:41] blitux opened #766 "Bug on format class: CSV not being parsed properly"
Hi there,

I was using the format class for importing CSV files. There's an issue when there are empty values at the end of the line like on this example:

[code]

On file core/classes/format.php line 402, original code is:

[code]

I solved the issue replacing the line with this code:

[code]

Maybe there's a better way to solve this problem. Is this really a bug or I am missinterpreting the way

[2012-01-09 10:05] darklow opened #767 "Model_Crud offsetGet() throws OutOfBoundsException if object property exists and is null"
If database field is NULL, it is still present in Model_Crud class object, however this method throws OutOfBoundsException.

[code]

instead of `isset` it should be changed to

[code]

otherwise class cannot return existing object with null value.

[2012-01-09 10:54] #767 closed, assigned to nobody

[2012-01-09 16:11] Savageman opened #768 "Session: cookie expires when data is not modified"
Hello there.

I've been noticing that the cookie of the session is not updated when we don't modify the session data. So it expires automatically, even when we continue visiting the application.

My use case is simple: when starting the application, the user is required to log in. The result is saved in session. I never touch the session again after that, I just read it. After 2 hours the user is

[2012-01-09 21:00] WanWizard commented on #768
Do you autoload the session (in config.php, always load)?

If not, and you don't use a single session method, the session class is never loaded, so the shutdown event that updates the session is never registered.

So if your application uses sessions, always load the session class, or make sure your (base) controllers do.

FuelPHP doesn't load anything by default, this behaviour is by design.

[2012-01-09 21:00] #768 closed, assigned to nobody

[2012-01-09 21:05] jschreuder commented on #768
@WanWizard just checked and it needs a setup section in the docs, or did I miss it?

[2012-01-09 21:23] WanWizard commented on #768
What do you mean by "setup section"?

There might be another issue. The introductory text in the docs is a bit confusing. This:

is no longer true. You now HAVE to always_load the Session class to have this behaviour. If you don't always_load, no session will be started (and therefore not updated)

[2012-01-09 21:29] jschreuder commented on #768
How one enables sessions in an application. Going over things like that Session needs to be loaded to keep the sessions alive (easiest solution to add it to always_load), using the auto_initialize setting and a reminder about the domain/path/httponly settings for cookies which are also important for how reliable sessions work.

[2012-01-09 21:38] WanWizard commented on #768
Was already modifying the docs. I saw "cookie_http_only" is missing too...

[2012-01-09 21:56] Savageman commented on #768
I'm not using always_load, but I always use it anyway.

From what I can see, the shutdown event you are talking about is only set when it's a new session.

I'm using the File driver, and I think the function that gets not called when i just read the session is _set_cookie(). It's only called when creating the session the first time and when writing the data.
But I don't modify the data, so the ses

[2012-01-09 22:30] WanWizard commented on #768
The event is registered in Session::forge(), for every session driver you instantiate. And it instantiates either when you use any session method, or when you always_load the class and auto_initialize is true (which creates the default instance for you).

It doesn't matter which Session method you use, they all need an instance to operate on.

The _set_cookie() method is called from the driver's w

[2012-01-10 00:05] Savageman commented on #768
I'll check what's happening and come back to you.

[2012-01-10 00:17] WanWizard commented on #768
Did some tests with the file driver, but every time I send a page request to a controller method that only reads a session value, both the cookie and the session file is updated after the request. A Debug::dump() in _set_cookie() confirms that.

[2012-01-10 09:02] Savageman commented on #768
Ok my bad. It's another issue related to a new feature in our app. I thought it was strange that the issue is coming just now.

Sorry to made you loose time on this. At least the doc got improved.

[2012-01-10 17:57] WanWizard commented on #768
Ok, glad you got it sorted.

[2012-01-11 11:58] reikubonaga opened #770 "model_crud save's query"
[model class]

[code]
#

[controller]

[code]
#

error

[code]
#

i think the query should be

[code]

[2012-01-11 13:20] crynobone commented on #770
@reikubonaga Why don't use

[code]

or alternatively set the user.email to be Null as YES in MySQL.

[2012-01-11 13:44] #770 closed, assigned to nobody

[2012-01-12 03:03] odiel opened #771 "Rule match_field uses fieldname in error message instead of label"
Hi

 I really likes this framework. I'm using it on some personal applications. Trying the Validator I found some weird behavior when I use it like this:

[code]

 If password and c_password not match I get this error: The field Password must match the field c_password.

 I think the error must have the field label instead the field name. I fix it manually going into: core/lang/en/validation.php a

[2012-01-12 09:31] WanWizard commented on #694
Marking this as feature for 2.0.

[2012-01-12 09:32] WanWizard commented on #743
Any progress on this @jschreuder?

[2012-01-12 09:35] jschreuder commented on #743
It's been open long enough without objections, I'll code it up.

[2012-01-12 17:29] billmn commented on #726
I don't have experience with other DB engines other than MySQL ... I don't know how I can be useful for you

[2012-01-13 01:48] crynobone opened #772 "Profiler::log_memory() doesn't output any result"
I tried to use `Profiler::log_memory()` but it doesn't show any result as expected behavior as http://particletree.com/features/php-quick-profiler/

[2012-01-13 07:34] crynobone commented on #772
My bad, it required `Profiler::init()` to be executed once.

[2012-01-13 07:34] #772 closed, assigned to nobody

[2012-01-13 09:44] WanWizard commented on #772
Yes, if you haven't activated the profiler in the config, you need to init it by hand...

[2012-01-15 14:44] kapv89 opened #775 "Can't pass DB::select->from->execute results to views"
you can't pass the array of objects you get from DB::select->from->execute results to views without doing a as_array on the result .. you get a security error ...

[2012-01-15 15:10] jschreuder commented on #775
This isn't a bug, it's the result of the way the QB output considers itself to be immutable. You can still pass it if you pass it using `$view->set('result', $result, false)` and it won't be put through output encoding. For the moment this'll stay this way, we me reconsider the immutability of DB results when we revamp the QB for v2.

[2012-01-15 15:10] #775 closed, assigned to nobody

[2012-01-18 07:56] fform opened #776 "Core\Asset Remote instance doesn't respect path"
If you set the uri in the Asset::forge, it will always append "assets/" to the url. If you try to set the path locally to be empty, you get an error about the file not exiting.

Asset shouldn't change the url if you are setting it explicitly.

It would also be great if an asset could be remote and local as the example below. I have a subdomain (assets.domain.com) that points to domain.com/assets/

[2012-01-18 08:26] frankdejonge commented on #776
Can you try doing it like:

Asset::forge('remote',array('paths'=>array('/'), 'url'=>'http://assets.domain.com/'));
echo Asset::instance('remote')->css('bootstrap.css');

I think that should work.

[2012-01-18 08:55] fform commented on #776
No go.

When it can't find the file locally, it fails on line 202 of /classes/assets/instance.php

The problem is that $this->find_file($filename, $type) returns the file with the local path prepended. Find file needs an attribute to turn the prepending off if you've override the url. If I replace line 205 with this

   $raw or $file = $this->_asset_url.($this->_asset_url=='/'?$file:preg_replace("

[2012-01-18 10:43] WanWizard commented on #776
Asset::render() always does a find_file(), unless the filename requested contains a scheme ( :// ).
It does not support an asset instance which points to a different host to serve static assets.

I'll check it out.

[2012-01-18 14:33] #776 closed, assigned to WanWizard

[2012-01-19 12:41] richard-myers opened #780 "Bug with DBUtil::create_index - used wrong variable name"
Could someone fix an incorrect variable name on lines 206 and 210 of Fuel\Core\DBUtil

$columns needs changing to $index_name

Corrected lines should read:
$index_name .= ($index_name=='' ? '' : '_').$value; // Line 206
$index_name .= ($index_name=='' ? '' : '_').str_replace(array('(', ')', ' '), '', $key); // Line 210

[2012-01-19 14:28] sergiigrebeniuk commented on #751
Hi Davide.
I can't reproduce the issue.
This code:

[code]

outputs:

[code]

Could you give us some examples?

[2012-01-19 16:40] sergiigrebeniuk commented on #751
Actually I updated version and managed to reproduce this.

[2012-01-20 08:38] #780 closed, assigned to nobody

[2012-01-20 17:37] WanWizard opened #783 "Route matching is case-sensitive"
Meaning a URL like /THIS/THAT doesn't match a route like 'this/that'

[2012-01-20 17:38] WanWizard opened #784 "A matched route loses it's extension"
Then using REST controllers, preserving the extension is required so that the proper return format can be detected.

This doesn't work when you route to a rest controller, as the router will not pass the extension on.

[2012-01-21 14:20] alexwhitman commented on #783
This should be optional, maybe per route. Personally I'd want some routes to be case sensitive.

[2012-01-21 22:22] WanWizard commented on #783
Point. I'll make it a feature request, rather then a bug report.

[2012-01-23 14:28] WanWizard commented on #784
Fixed in ab5bcf209161addfd503eb96ff8f91e5215903bf

[2012-01-23 14:28] #784 closed, assigned to nobody

[2012-01-23 16:09] Djuki opened #785 "Redis bug with transactions"
When using transactions in FuelPHP it takes too long to respond. I found where is the problem.

[code]

Solution :
In class Fuel\Core\Redis method __call
line 137 is

[code]

i change it to this to fix problem.

[code]

Problem is that it trying to read from $this->connection when there is nothing to read.
It's quite possible that authors main class has the same problem.
https://github.com/jdp/red

[2012-01-23 22:08] WanWizard commented on #743
@jschreuder gentle reminder... ;-)

[2012-01-24 09:25] aranw commented on #783
This should be optional but I can never see a use case where /THAT routes to a different place to /that.

It's would be very confusing and misleading to the user.

[2012-01-24 22:50] komita1981 commented on #785
In both case block there is code

[code]

If $block_size is empty then we will get warning. To prevent this we can add

[code]

[2012-01-24 23:10] WanWizard opened #787 "Date class to use PHP's DateTime"
The current Date implementation is based on PHP's "old" procedural functions for parsing dates, which is troublesome on Windows. Emulating strptime() only works with US dates, as the format is ignored.

Why not use PHP's DateTime class for this? It can handle everything, and is fully supported on Windows.

Downside, the old strftime() formats no longer work, and have to be replaced by new formats

[2012-01-24 23:10] WanWizard commented on #787
@jschreuder @dhorrigan Any comments on this?

[2012-01-24 23:27] jschreuder commented on #787
From http://nl3.php.net/manual/en/datetime.format.php

This makes the whole DateTime class essentially useless.

[2012-01-24 23:27] #787 closed, assigned to nobody

[2012-01-24 23:51] bencorlett commented on #787
Wouldn't it be easier to write something that integrated this with Fuel's Lang class to translate the output?

Maybe the Lang class could use regexes if it doesn't and the date class could run the translation for output through these?

[2012-01-24 23:54] jschreuder commented on #787
It's not easier and far more limited, the current function work perfectly for everyone but windows users trying to recognize patterns (output is fine though). I'm completely open to solutions that improve windows support, but this is superior for everyone else - including windows users that don't need pattern recognition.

[2012-01-24 23:54] WanWizard commented on #787
I think that makes it very complex. It might be easier to just write the full functionality of strptime() in a separate class and call that if needed. There are plenty of open source versions around, if you can read C++...

[2012-01-24 23:58] jschreuder commented on #787
@bencorlett BTW I'm fine with making your code from just now the default instead using either strtotime() or your method.

Another solution might be to make the function that is used for recognition configureable, thus make it possible to use another instead of strptime() by configuration. That keeps things consistent for almost everyone, and would allow for better solutions on windows. Defaulting

[2012-01-25 00:01] WanWizard commented on #787
Well, it doesn't really works fine on Windows systems, this is what triggered the discussion this evening on IRC. If you pass a date string in non-US notation to it, it fails because it ignores the pattern.

It has now been replaced by Ben by something that can at least understand the basics in a pattern, but still looking for a better solution...

[2012-01-25 00:04] jschreuder commented on #787
Quoting myself:

How did I ever deny the problem there? I've been aware of it from the beginning and you can see that clearly from the code, it's hard to code this without being aware there's a problem. At the time Dan and I deemed it not important enough to follow through on further.

[edit]
For the completeness of this discussion, actually strtotime() doesn't just US formats:

And about the numb

[2012-01-25 02:12] bencorlett commented on #787
@jschreuder @WanWizard, is this at all a possibility?

http://www.php.net/manual/en/class.intldateformatter.php

[code]

[2012-01-26 01:07] sahanh opened #789 "Auto id with prefix"
Fieldset_Field

if ($form->get_config('auto_id', false) === true and $this->get_attribute('id') == '')

this code overrides auto id addition of Form_Instance.

(Form_Instance class code $attributes['id'] = $this->get_config('auto_id_prefix', 'form_').$attributes['name'];)
This code doesn't add the auto_id_prefix and it ignores auto_id generation (which adds the prefix) because Fielsset_Field add a

[2012-01-26 07:34] WanWizard commented on #789
You mean that when Fieldset_Field detects there is no ID set, and it autogenerates an ID, if doesn't add the prefix?

[2012-01-26 07:38] sahanh commented on #789
Fieldset_Field adds an id if an id is not set, but it doesn't add the prefix. However Form_Instance has a code already, which does the job. That code works if I comment out the code in Fieldset_Field.

[2012-01-26 10:43] jschreuder commented on #789
Don't have time to look into this now and may forget later, but I think I fixed this in develop...

[2012-01-26 12:45] dbpolito opened #791 "Validation validated()"
When you do not add the field on validation method and you do not fill that field on a form and you call $val->validated('field') it returns false instead of a empty string and the query generated is field = '0', when the field is filled works fine. Thoughts?

[2012-01-26 12:57] jschreuder commented on #791
That it works exactly as intended and returns false when the requested field isn't found. When running `$validation->validated('field')` you are asking if the field you specified validated, and when it wasn't it returns `false` - quite logical I'd think.

How you put it into a query is up to you, the Validation class doesn't care about that and shouldn't. The only thing I might want to change abou

[2012-01-26 12:57] #791 closed, assigned to nobody

[2012-01-26 13:10] dbpolito commented on #791
Right, but the issue for me is that i do not want this field validated, so i was trying to add with no rules on add_field but the method gives a warning if we don't add a valid rule. Would be great if we could could not set the rule on the add_field method regarding this:

$val->add_field('field1', 'Field 1', 'required');
$val->add_field('field2', 'Field 2'); // Not work

$val->add_field('field1',

[2012-01-26 13:14] jschreuder commented on #791
Don't use `$val->add_field()` with 2 params, it's there for one reason only: to allow passing rules as a piped string (an antiquated and soon to be deprectated method). It's not the preferred method, that's `$val->add('field1', 'Field 1')` which will work fine.

[2012-01-26 13:25] dbpolito commented on #791
So what way would you recommend to use? $val->add('field1', 'Field 1') and when needs validation use $val->add('field1', 'Field 1')->add_rule('required')?

[2012-01-26 13:26] jschreuder commented on #791
That's the preferred way, the `add_field()` piped-string business was only in there to help some CI folks with the transition.

[2012-01-26 13:28] jschreuder commented on #787
No, very few people will have that available and most will not be able or willing to install that to get things to work.

[2012-01-26 13:28] dbpolito commented on #791
Right, i really appreciate your assistance, thanks for that. ;)

[2012-01-26 13:35] lukearmstrong opened #792 "Rest Controller: Unable to define XML Basenode"
Unfortunately there doesn't appear to be any way of defining the `$basenode` when using `Format->to_xml()` via the Rest Controller, so the array gets formatted and output between `<xml></xml>` tags.

Most of the time, when generating XML, you are doing it for another system to read, so you have to follow their specification exactly or it won't work.

I would have submitted code with this Issue tha

[2012-01-26 14:07] lukearmstrong commented on #792
After all that it looks like I can't use the Format class to output XML as I require it to be in this format, and that doesn't seem to be possible.

[code]

Yet the format class is outputting this...

[code]

Sigh. :(

[2012-01-26 14:36] WanWizard commented on #792
Hmmm.... This is a bit odd. The code does:

[code]

Which means that it if the array passed is

[code]

it will create the child node 'product', iterates, then detects that the key is numeric (0 = first product). At this time, $basenode should be equal to 'product', and the output of Inflector::singularize() should be 'product' as well.

It looks like that fails for some reason, leading to the ins

[2012-01-26 15:33] lukearmstrong commented on #792
Oh, it is assuming it is wrapped in a plural... but that is not the structure I require.

"Products":

[code]

Results in this:

[code]

But "Product":

[code]

Results in this:

[code]

[2012-01-26 16:12] andrewwheal commented on #792
@WanWizard, the code you posted in your comment seems to be working fine, it just does not allow for the structure of XML that @lukearmstrong is wanting.

Rather than creating child tags (either named a singular version of the parent tag or item) it needs to create multiple tags with the parent's name. That way you can add an extra level and get the current functionality.

[2012-01-26 16:49] lukearmstrong opened #793 "Format Class: to_csv"
Am I doing something wrong?

[code]

Outputs This:

[code]

Where on earth is the first row coming from? `0,1,2,3,4,5,6`

I can only imagine I am doing something wrong, but I can't tell as the documentation example is converting JSON to a CSV with 2 rows of data with 2 things in each row.

[2012-01-26 20:46] WanWizard commented on #792
I understand the issue, but haven't had time to look at it yet.

[2012-01-26 21:07] WanWizard commented on #793
According to the code, when a multi-dimensional array is detected, to_csv() expects it to be an assoc array, and uses the keys of the first array element as headers.

But in your example, you don't assoc array's, hence you get numbers as header.

[2012-01-26 21:08] #793 closed, assigned to nobody

[2012-01-27 08:50] lukearmstrong commented on #793
I haven't updated Fuel to get your commit yet, but after reading your message I changed my array to this and it worked.

[code]

[code]

[2012-01-27 10:16] WanWizard commented on #793
That was indeed the expected format.

Now it checks if the array is an assoc array. If so, it will use the array keys of the first array element as headers (like it always did), but if not, it will use the values of the first array element as headers.

[2012-01-27 11:27] dudeami0 commented on #762
Should be easily fixed with a file_exists() check. Feel free to submit a commit :)

[2012-01-27 11:47] mileswebdesign opened #795 "Option to specify database group for DBUtil"
As a follow up of this thread on the Forums http://www.fuelphp.com/forums/topics/view/6105

I think it would be helpful to have the option to specify a database group / database instance for the DBUtil class, similar to how we can specify this for the DB::query() (http://docs.fuelphp.com/classes/database/usage.html#/running-queries).

[2012-01-27 16:46] yoyopuyo opened #796 "Cache: APC and files don't delete the same thing"
File Cache deletes all the subdirectory
while APC Cache does not.

Eg: if you call Cache::delete_all( 'cache/users' ), the file version will delete 'cache/users/0' and ''cache/users/1'
Not the apc version

[2012-02-01 09:57] Savageman opened #806 "Allow <button type=submit"> within form generation"
When using the form generation with Fieldset::add(), it seems impossible to obtain a <button type=submit"> field.

type = submit generates `<input type="submit">`
type = button generates `<button type=button">`

The latter doesn't submit the form when clicked, it needs aditionnal JavaScript or onclick to operate. I'm not even sure why it behaves this way. It's much more logical in my point of view

[2012-02-01 10:59] billmn commented on #766
Up, your change works fine ...

[2012-02-01 11:47] WanWizard commented on #806
This works ok in the Form class:

[code]

The problem is in the Fieldset build() method, that indeed uses the 'type' attribute to determine which HTML tag needs to be generated.

I'm not really in favour of inventing new "fake" type's to work around it, I'd rather find a solution to allow you to define the tag. Maybe introduce a 'tag' attribute, and fall back to type detection if it is not present

[2012-02-01 13:39] Savageman commented on #806
Yeah, the tag attribute seems fine to me.

[2012-02-01 13:51] Savageman opened #807 "Cannot create a config file using an absolute path"
`Config::save('/my/absolute/path/to/file', array())` will fail if the file does not exists.

This is because the finder returns false (since the file does not exists), and the save() method prepends APPPATH.'config' in front of the absolute path.

See [pull request #714](https://github.com/fuel/core/pull/714)

[2012-02-01 14:43] #807 closed, assigned to nobody

[2012-02-01 18:33] Savageman commented on #807
Thanks. Super fast!

[2012-02-01 19:20] WanWizard commented on #807
We aim to kill... eh... to please... :-)

[2012-02-01 22:55] WanWizard opened #808 "Use views for fieldset form definitions"
The fieldset class, in combination with an ORM model, allows you to automatically generate a form for you, based on the definitions in the config/form.php config file.

This works fine, but the forms are pretty basic and not very flexible. You can use set_config() to load alternative definitions, but all forms generated will be based on "one label/field combo per row" as per design of the config a

[2012-02-01 22:55] WanWizard commented on #808
@jschreuder Was discussed in IRC tonight. Any thoughts on it?

[2012-02-02 00:01] jschreuder commented on #808
I think you guys have been missing a pretty important feature: you can also "build" individual fields, you don't have to build the full form - I never do. The full form generation was always meant as a Q&D method as any decent form will need too much customization to handle everything the same way. Thus I pass a form instance to my view and echo the fields individually inside it. Which is exactly

[2012-02-02 12:46] WanWizard commented on #808
I'm not sure that is the case. I also have views that use

[code]

This generates

[code]

Which is useless in the cases at hand, as that still would not allow me to add three "input" tags within that "dd" tag.

[2012-02-02 12:48] jschreuder commented on #808
You can configure the template used for form building at the app level (checkout config file in `core/config/form.php`), at the form level (using `$form->set_config()`) and at the field level (`$field->set_template()`). Thus that isn't really a problem.

[2012-02-02 13:23] WanWizard commented on #808
Ah, set_template() at field level was new to me. Time to dive into the code.

And if so, set a reminder to document this, because I have a feeling nobody uses it because nobody understands how it works and how it should be used...

edit: that explains, Fieldset_Field isn't documented anywhere...

[2012-02-02 13:38] WanWizard commented on #808
Looked at set_template(), but for me that's not a solution.

To deal with my use-case, you need to set the templates on the first field to open the group, no template and no label content on the second field, and no label but a template to close the group on the last field.

This is so complex that no user is ever going to use it. Only workable solution is to remove all templating, use "field_temp

[2012-02-02 14:47] Savageman commented on #808
This is kind of related with an old topic I created in the forum.

http://fuelphp.com/forums/topics/view/5269

I have the same "multi-field" problematic. One label for several fields. In my use case, the problem was the same for the error message. I needed to put it at the end of the 3 fields, even if the error is concerning the first one.

I explored the fieldset imbrication mechanism. But it doe

[2012-02-02 15:10] jschreuder commented on #808
First off, I am planning on a full rewrite of this for v2 which will feature at least the following:
- Complete decoupling of Fieldset from Form & Validation, Fieldset will stay what it was always intended to be: a way to model a set of properties with form & validation descriptions. But neither Form nor Validation will have any understanding of the class. The fieldset class though will have a way

[2012-02-02 16:23] #743 closed, assigned to jschreuder

[2012-02-03 08:27] WanWizard commented on #808
What needs to be generated in this use-case is

[code]

Date is a model property, the other three are fields manually added using add_after().

The main reason for wanting to use Fieldset here is the coupling with the ORM model, and the validation and population features. Which you lose when you start hand-coding the form.

p.s. I wasn't indicating I wanted integration with the View class.

What I

[2012-02-03 09:57] WanWizard commented on #806
@jschreuder Any preference on how to solve this?

[2012-02-03 10:43] jschreuder commented on #806
@WanWizard I like your 'tag' property proposal, that keeps current behavior intact and allows for the flexibility this issue requires to be solved. My only "but" is that it won't really choose the tag, but instead choose which Form class method is used. But I can't think of a better solution.

[2012-02-06 11:27] Savageman opened #810 "Cannot update a file if the parent directory is not writeable"
`File::update()` returns an error if:
- the file already exists and is writeable ;
- the directory contaiing the file is not writeable.

In other words, my file is writeable, but I cannot update it because the directory is not.

[2012-02-06 15:14] mikebranderhorst opened #811 "Wrong form input id's and label for's for radio and checkbox input (1.1)"
Like the example in docs:

[code]

gives:

[code]

the for is the same in the two labels
the id is the same (and thus not unique) in the two inputs

maybe it should generate the value as well

id="form_gender_male"
id="form_gender_female"

[2012-02-06 16:54] acairns opened #813 "404 is thrown for empty response in Controller_Rest"
I don't think this is correct - what about 204 response?

For a case study: I've just made a PUT request to update an entity in my database.
I dont need to respond with an additional information, but I want to return 204 to let my SDK know everything was fine.

$this->respond( array(), 204 ); // this shouldn't throw a 404

[2012-02-06 18:33] frankdejonge commented on #813
you could alter the $no_data_status right before this.

[2012-02-06 18:34] frankdejonge commented on #813
Like so:

[code]

[2012-02-06 22:43] mikebranderhorst commented on #789
In 1.1 dev:

config form.php
`auto_id = true`
`auto_id_prefix = form_`
(custom templates used)

echo \Fieldset::forge()->add_model('Model_Test')->build();
Notice the missing form_ for input...

[code]

class field.php
comment line 392

[code]

Notice the missing name for label...

[code]

It seems that label needs the form_ + name set at field.php line 392
but input is set at form instance.php lin

[2012-02-07 02:52] sahanh commented on #789
I think I found the issue, and submitted a commit. https://github.com/sahanz/core/commit/5617041e0ed49799b24c3f7be7e0f467140ca3f4

[2012-02-07 09:08] Savageman opened #818 "Remove Asset::accepts_charset()"
The "Accept-Charset" header is not sent by browser anymore. There's no use for that.

http://hsivonen.iki.fi/accept-charset/

[2012-02-07 09:15] acairns commented on #813
If this is new in 1.1/develop, I don't see this as a good idea.
The controller shouldn't be responsible for the status code of a response.
If we are to be returning a Response object, shouldn't the status be set on that?

$response = \Response::forge();
$response->set_status( 204 );
return $response;

or

return \Response::forge( array(), 204 );

[2012-02-07 09:34] WanWizard commented on #810
And what do you suggest has to be done to fix this?

[2012-02-07 09:46] WanWizard commented on #813
If you craft and return your own Response instance, this is the way you should do it.

If you use the response() method to craft your response from an array of data, the $no_data_status property is used, as you don't have access to the crafted Response instance. You could call response() first, and then set $this->response->status, but that is clumsy.

I agree that 204 is a more logical status cod

[2012-02-07 09:51] #813 closed, assigned to nobody

[2012-02-07 13:00] sahanh commented on #789
I think this time I got it right, https://github.com/fuel/core/pull/819

[2012-02-07 13:13] daveganley opened #820 "import() for app vendor directory"
When trying to import vendor libs using import a error occurs. It would be good if this was possible with something like this in the core base.php

if ( ! function_exists('import'))
{
    function import($path, $folder = 'classes')
    {
        $path = str_replace('/', DIRECTORY_SEPARATOR, $path);

[code]

}

[2012-02-07 17:05] Savageman commented on #810
Don't throw an error if the file exists and is writeable.

Actual code:

[code]

Proposed new code:

[code]

I'm not sure wether this could work or has deeper implications elsewhere.
The same applies to append().

[2012-02-08 10:40] antitoxic opened #821 "[fuel issue] Setting wrong value for DOCROOT in oil file"
Issues are not enabled for the [Fuel repository](https://github.com/fuel/fuel) so I'm adding the issue here.

I'm using oil tasks with `cron` to retrieve images from a web service and upload them to the public directory.

The problem is the oil file sets `DOCROOT` constant wrongly to the current directory whereas the public directory is `./public` or something else if you've changed it.

Oil can't

[2012-02-09 10:26] aranw opened #823 "ORM Slug Observer"
Not as much a issue but more of something that looks odd and think could be altered.

Basically I have a place called Herbert's Bar in my database, and it has a slug generated for it. But when the ORM Slug Observer generated the slug it came out as

[code]

and I thought it should really be generated as

[code]

Thoughts?

[2012-02-09 11:05] frankdejonge commented on #823
This is not a problem with the ORM Slug Observer, but with the Inflector's friendly_title function. I'll discuss the removal of quotes.

[2012-02-09 11:12] aranw commented on #823
Ah ok wasn't sure if it used the Inflector's friendly_title function or not.

[2012-02-09 11:34] #823 closed, assigned to nobody

[2012-02-10 09:26] coaxweb opened #824 "[fuel issue] classs truncate"
I'm using the class Str::truncate($post->title, 80, '...', true); the result is "Le MEDEF vient de publier un guide sur et la biodiversité pratiques &agra;... " my text is cut in a html caracter (à  => &agrave; in html)

The 'is_html' option deals with HTML tags in the text, it doesn't support HTML entitities. is it possible to change that ?

[2012-02-10 20:28] WanWizard opened #827 "Tasks do not use the cascading filesystem"
Title is self explanatory.

The result of this is that you can't call a task method from your application, you have to manually find and include the file first. This is the same method 'oil refine' is using.

It would be better to have them obey the rules of the CFS, or to have a core class that allow you to access tasks from your application, like is implemented for migrations.

[2012-02-10 20:29] tomschlick commented on #827
+1

[2012-02-10 20:35] dberry37388 commented on #827
+1

[2012-02-11 18:02] Mitchell64 opened #828 "imagemagick problem for jpg when quality < 100"
I believe there may be a problem in core/classes/image/imagemagick.php, function save().

When the file type is jpg and quality is < 100, line 200 is true. The next call to $this->exec() causes an error at line 309.

Fuel\Core\FuelException [ Error ]: imagemagick failed to edit the image. Returned with 1.

Command: M:\xampp\ImageMagick-6.6.6-Q16\convert.exe "M:/xampp/tmp/fuelimage_addd141fd4817a4c

[2012-02-12 14:50] krtek4 commented on #751
This issue is still present in the 1.1/develop branch as of today.

BTW, I was wondering what is the "meaning" of the $id parameter of the method label in the Form_Instance class. Since the 'id' key is unset from the attributes array, the label won't have any html id after the generation, and if it represents the id of the element the label is for, then there should'nt be any other treatment done

[2012-02-13 09:44] Savageman opened #829 "Enhancements to the Event class"
This issue is open to discussions.
- Allow arguments to be passed by references ;
- Add a priority system.

If you are interested in this, I'll probably make pull requests.

[2012-02-13 21:19] antitoxic opened #830 "Input::uri() causes Router and Uri::create malfunction"
`Input::uri` always strips out the extension in the uri. This makes a reverese Uri::create and Router to malfunction.

If you have a route defined as:

[code]

The URI against which the route will be matched is `test`, not `test.html`.

Same logic applies to URI::create - it will use the `test`, not `test.html` as base to create a url.

[2012-02-13 22:01] antitoxic commented on #830
This concerns `1.1/develop` . Strangley the `master` seems to have a newer commit which is not applied in the `develop` branch: https://github.com/fuel/core/commit/4070ffccbde77ff7837fff8ddc49847ecb3a8ba7

[2012-02-14 11:33] antitoxic commented on #820
I found this via: http://fuelphp.com/forums/topics/view/7487

Does the import autoloads just one file? Is there much benefit to this compared to `Autoloader::add_class` or native `require_once`?

Edit: this can also be considered as related: http://fuelphp.com/forums/topics/view/7285

[2012-02-14 16:28] lukearmstrong opened #831 "Fieldset Field Label "for" does not match Input "id""
I've recently updated `fuel/core` on an existing site, and I've just noticed that when clicking the labels, the inputs aren't focused because the label "for" does not match the input "id". This is rather annoying for checkboxes/radio buttons.

[code]

**Generates this:**

[code]

**When it used to, and should, generate this:**

[code]

[2012-02-15 10:23] WanWizard commented on #830
You should not define routes with extensions. Routing happens on URI segments, the extension is irrelevant for a FuelPHP application. That it used to work was considered a bug, that has now been fixed.

As to that commit to master, that looks odd, we'll check that...

[2012-02-15 10:34] WanWizard commented on #830
Looked at that commit.

It is not newer, it is a 6 month old commit. And two weeks after that commit, Dan rewrote the URI detection logic, in which the detect_uri() method was removed. That's why you don't find it in Input today.

[2012-02-15 10:34] #830 closed, assigned to nobody

[2012-02-15 12:48] antitoxic commented on #830
@WanWizard that means the correct version is into the develop branch?

Does this then mean  `Uri::create` has an error by not appending the detected extenison to the uri.

**EDIT:** Wait, how can the developer force a route with html? .htaccess ?

[2012-02-15 12:51] WanWizard commented on #830
The extension is meaningless in FuelPHP, it is only used for REST services.

There is no way to route 'this/that.html' different from 'this/that.jsp'. The extension is irrelevant and ignored. As said, you should not route on extension. The old behaviour will not be restored, as it would break the REST functionality.

[2012-02-15 13:05] antitoxic commented on #830
@WanWizard Thank you for the clarfification.

What would you recommend in situation where the SEO department requires certain links (articles ,news, certain pages) to have the html extension in the url?

[2012-02-15 13:44] julesjanssen commented on #830
Aside from being irrelevant for SEO purposes, use the 'url_suffix' setting in config/config.php.

[2012-02-15 13:52] WanWizard commented on #827
Has been added to the 2.0 roadmap.

[2012-02-15 13:52] #827 closed, assigned to nobody

[2012-02-15 13:55] WanWizard commented on #287
@tomschlick @FrenkyNet @philsturgeon Is this something for on the 2.0 roadmap?

[2012-02-15 14:01] WanWizard commented on #601
Added to the 2.0 roadmap

[2012-02-15 14:01] tomschlick commented on #287
+1 for 2.0 roadmap.

Problem was when we were looking for a good class is all of them had incompatible licenses with ours. I'm sure we can take influence from those others but we are gonna have to write one from scratch if we cant find a compatible one.

[2012-02-15 14:04] frankdejonge commented on #287
Yeah, I think so, we can at least refactor what we have now, expanding on different types can also be done in a later stage.

On Feb 15, 2012, at 2:55 PM, Harro Verton wrote:

[2012-02-15 14:04] philsturgeon commented on #287
Tom was on it a while back so left the task to him.

Emailing from my iPhone 4S like a BOSS!

On 15 Feb 2012, at 13:55, Harro Vertonreply@reply.github.com wrote:

[2012-02-15 14:05] philsturgeon commented on #287
We have permission to use this unzip code, just refactor it.

Emailing from my iPhone 4S like a BOSS!

On 15 Feb 2012, at 14:01, Tom Schlickreply@reply.github.com wrote:

[2012-02-15 14:08] WanWizard commented on #385
Added to the 2.0 roadmap.

[2012-02-15 14:08] #385 closed, assigned to WanWizard

[2012-02-15 14:31] WanWizard commented on #287
Added to the 2.0 roadmap.

[2012-02-15 14:33] WanWizard commented on #392
@jschreuder On the roadmap for 2.0?

[2012-02-15 15:00] jschreuder commented on #392
I'll add it.

[2012-02-15 15:34] WanWizard commented on #543
@jschreuder is this on the roadmap for Fieldset refactoring?

[2012-02-15 15:39] jschreuder commented on #543
Won't matter anymore, it'll be decoupled and there'll be fully rewritten mapping logic from fieldset to forms where I'll keep this problem in mind.

[2012-02-15 18:50] dbpolito opened #834 "Custom Validation error message to a particular field"
Would be great if we could set a custom Validation error message to a particular field, for example:

[code]

[2012-02-16 10:50] Savageman commented on #806
So if I implement this, I need to leave current "type" fully backwards-compatible.

And juste add the case `type = submit` & `tag  = button` ?

I think in Form_Instance line 224 use `$attributes['tag']` instead of `'input'` when it exists and unset it is ok?

Actual code:

[code]

Proposed code:

[code]

[2012-02-16 15:35] Savageman commented on #834
This feature is already available using `$val->set_message('field', 'Custom Error Message to this field');`

Are you requesting an alias in the Fieldset_Field class so you can chain it directly like in your example?

[2012-02-16 15:41] dbpolito commented on #834
Actually when you use set_message you set for a rule and not for a field.

http://localhost/fuel/docs/classes/validation/methods.html#/method_set_message

[2012-02-16 15:57] Savageman commented on #834
Doh. You're right, my bad. Sorry.

[2012-02-16 16:38] lukearmstrong opened #835 "Rest Controller: No longer able to have parameters in URL because \Input::extension() is broken."
I have a large existing site that uses the Rest Controller extensively to return json to be used by Javascript.

After updating the core I happened to notice I was getting a error when doing a GET request to this URL `/shop/productrest/change_colour.json/345/`

ErrorException [ Warning ]: Missing argument 1 for Shop\Controller_ProductRest::get_change_colour()

[code]

This is because a [change](ht

[2012-02-16 16:39] lukearmstrong commented on #835
https://github.com/fuel/core/pull/836

[2012-02-17 10:01] antitoxic commented on #830
@julesjanssen

That will make all urls end with '.html'. I have to make only part of them.

I thought of manually calling `Config::set('url_suffix','.html')` in the `before()` controller method but that will apply to all of the generated URIs.

[2012-02-17 10:03] antitoxic opened #837 "add_model() is_callable will always return true for Model_Crud"
`Model_Crud` based classes have `__callStatic` which makes `add_model()` always to return true.

Maybe `method_exists` can be used?

Maybe add a check whether `$method` is null and if so don't search for it?

I am currently using a workaround of defining empty  `set_form_fields` methods to my `Model_Crud` classes.

[2012-02-17 13:24] jschreuder commented on #808
Not relevant to keep open at this point as the whole thing will be rewritten for 2.0 and no big changes will be made in the 1.x branch anymore.

[2012-02-17 13:24] #808 closed, assigned to WanWizard

[2012-02-17 13:35] jschreuder commented on #837
The check being done is just to help prevent mistakes, not to limit possible usage. If we were to change to `method_exists()` it would expressly disallow using `__callStatic()` or `__call()` while returning `true` when the method actually isn't callable (private/protected). This is why it uses `is_callable()`: it doesn't limit possible use cases, it only doesn't warn when using a class you shouldn

[2012-02-17 13:35] #837 closed, assigned to nobody

[2012-02-17 13:42] jschreuder commented on #796
For APC/Memcached we added a bit of functionality that is meant to mimic directories in the filesystem, it adds a bit of overhead on write but should make the type of deletions you mentioned possible. There's however one possible problem: APC doesn't guarentee persistance of the entries in it, when your cache is full "old" or unused values are deleted take make room for new ones. Thus the actual t

[2012-02-17 13:43] antitoxic commented on #837
@jschreuder Please, can Fuel at least check whether whether `$method` is `false`.

Otherwise it's not possible to follow the instructions at http://docs.fuelphp.com/classes/validation/validation.html and define custom model validation rules when using `Model_Crud` based classes without defining empty methods.

[2012-02-17 13:45] jschreuder commented on #837
The docs are lacking there, use `$val->add_callabe('Model_Name');` and it'll be added as a source for validation rules without trying to add the fields.

[2012-02-17 13:48] jschreuder opened #838 "Add Fieldset_Field description property and error message overwrites"
- Allow for descriptions to be provided along with each field.
- Allow a general overwrite for all errors on a field that is displayed instead of the error message.
- Allow rule specific overwrites per field for error messages.

[2012-02-17 13:49] jschreuder commented on #834
Closed in favor of #838

[2012-02-17 13:49] #834 closed, assigned to nobody

[2012-02-17 13:53] jschreuder commented on #835
I think that part of this problem is that this isn't the correct format to pass additional params. You want to implement REST thus you should use REST means, meaning that the ID should be passed as a GET param: `/shop/productrest/change_colour.json?id=345`

[2012-02-17 13:53] #835 closed, assigned to nobody

[2012-02-17 13:59] jschreuder commented on #820
This is just duplicating native PHP require behavior without any advantage: `require APPPATH.'vendor/lib/somefile.php` is far superior to this.

Don't be afraid to use native PHP functionality when applicable: it's faster and less ambiguous code.

[2012-02-17 13:59] #820 closed, assigned to nobody

[2012-02-17 14:03] jschreuder opened #839 "Various problems with for/id/id_prefix behavior in Fieldsets"
This relates to the following issues:
- #831 - Fixed 17-03 by aa197e81bc0fe6ebaaf732747ce6160d3500229f
- #819 - Fixed 17-03 by aa197e81bc0fe6ebaaf732747ce6160d3500229f
- #811 - Deemed a limitation of the 1.x codebase, to be given another approach in 2.0.
- #789 - Fixed 17-03 by aa197e81bc0fe6ebaaf732747ce6160d3500229f
- #781 - Fixed 17-03 by aa197e81bc0fe6ebaaf732747ce6160d3500229f
- #758 - Will b

[2012-02-17 14:03] jschreuder commented on #831
Closed, will be handled by issue #839.

[2012-02-17 14:03] #831 closed, assigned to nobody

[2012-02-17 14:03] jschreuder commented on #811
Closed, will be handled by issue #839.

[2012-02-17 14:04] jschreuder commented on #789
Closed, will be handled by issue #839.

[2012-02-17 14:04] jschreuder commented on #758
Closed, will be handled by issue #839.

[2012-02-17 14:04] jschreuder commented on #751
Closed, will be handled by issue #839.

[2012-02-17 14:05] #811 closed, assigned to nobody

[2012-02-17 14:05] #789 closed, assigned to nobody

[2012-02-17 14:05] #758 closed, assigned to nobody

[2012-02-17 14:05] #751 closed, assigned to nobody

[2012-02-17 14:17] julesjanssen commented on #830
You can also use \Uri::create('something/something.html') to add a suffix to just that URL.

[2012-02-17 22:46] lukearmstrong commented on #835
Yeah, I'll just rewrite all of my javascript and rest controller methods, that makes so much better sense than fixing a bug.

[2012-02-17 22:49] jschreuder commented on #835
You're missing my point: it's not a bug. Read up a bit on REST and you'll learn that a URL for REST shouldn't contain unique identifiers, those should be part of the input GET/POST/PUT/DELETE params.

[2012-02-17 22:53] lukearmstrong commented on #835
[What I have done isn't wrong](http://microformats.org/wiki/rest/urls), but yes, I agree your suggestion is better.

Rewriting Rest Controller methods and Javascript would be a very time consuming task.

[2012-02-17 23:02] jschreuder commented on #835
Ok, that wasn't in my book. Though there's an important difference between your URLs and the URLs in that document:

[code]

The file extension should be at the end.

We shouldn't have code in the core that encourages or enables bad practice. Now if you made a mistake earlier on and the bottom line is that the rewrite isn't worth the effort that's your problem in the end, but shouldn't be a hard o

[2012-02-17 23:14] lukearmstrong commented on #835
Bad example, I quickly googled, then noticed what you pointed out after I posted my response.

[Wikipedia](http://en.wikipedia.org/wiki/Representational_state_transfer#RESTful_web_services) seems to suggest there is no standard, so without a standard who is to say what is right and what is wrong?

[13] http://rest.elkstein.org/2008/02/what-is-rest.html

[2012-02-18 00:03] jschreuder commented on #835
You're right, it's not a standard - but that doesn't mean it's completely without any rules. It's more of a principle, the Wikipedia article you referenced puts it quite well under the heading **central principle**:

The concept of a "global identifier" is also why I dont put the ID in the path but in the query params. I feel that within the path it becomes part of the identifier and thus breaks t

[2012-02-18 13:21] #806 closed, assigned to nobody

[2012-02-20 10:53] danharper opened #843 "Improved Migrations"
(As discussed here: http://fuelphp.com/forums/topics/view/2644)

The current convention of adding a number to each new migration (eg. 001, 002, 003 etc.) does not work well _at all_ on multi-user teams working on several feature branches at once.

For example, branch `master` is at revision 012. Steve and I both branch off to work on a feature. My feature requires 3 new migrations, and Steve's 2.

[2012-02-22 23:13] richard-myers opened #845 "Fuel\Core\Asset should not throw exception on asset not found"
It would be useful if the asset class would not throw an exception when an asset is not found or at least has the option to instruct it to continue without the exception.

In my own case I want it to check and see if there is a "custom.css" file and if its found in one of the asset paths include it but if the file does not exist simply continue and pretend I never wanted to load the file.

a simpl

[2012-02-22 23:21] jschreuder commented on #845
[Use try-catch](http://php.net/manual/en/language.exceptions.php)

[2012-02-22 23:24] richard-myers commented on #845
But then you can't use the render function on a group of assets and would need to render assets one at a time ie. include each one separately

...sort of beats the point of groups?

[2012-02-22 23:26] jschreuder commented on #843
Isn't that already supported: https://github.com/fuel/core/blob/1.1/develop/classes/migrate.php#L195

All I see is that it requires numeric, they don't need to be numbered consecutively.

[2012-02-22 23:29] jschreuder commented on #845
The importance of specific details. That is a fair point and should be discussed.

[2012-02-22 23:33] jschreuder commented on #845
@WanWizard @FrenkyNet what do you guys think? I propose adding a config value for `"fail_silently"` that defaults to `false` (thus current behavior), but prevents exceptions when `true`.

[2012-02-22 23:35] richard-myers commented on #845
Thanks, would be useful if something could be sorted. I should probably of been more specific in original message.

[2012-02-22 23:39] frankdejonge commented on #845
@jschreuder I just wanted to opt that as the solution. A config setting would be the way to go. I'll dive into this. Made it a feature request instead of invalid.

[2012-02-22 23:53] philsturgeon commented on #843
Yep still been too busy to see what oil is generating. If its time stamp then yay.

Emailing from my iPhone 4S like a BOSS!

On 22 Feb 2012, at 23:26, Jelmer Schreuderreply@reply.github.com wrote:

[2012-02-22 23:56] jschreuder commented on #843
@danharper could you let us know if this is what you meant? In that case we can close this...

[2012-02-23 00:18] frankdejonge commented on #845
Fixed here https://github.com/fuel/core/commit/a7de6c3370cbbad158d71214dafc7cd3a0d1c657

[2012-02-23 00:18] #845 closed, assigned to nobody

[2012-02-23 04:41] swt83 opened #846 "File::read() and Format::forge() - Cannot Convert CSV Files"
I see some closed issues regarding CSVs and the Format class, here is something I'm encountering:

[code]

The above will fail to convert properly because the File::read() will strip out "\n" characters, which the CSV conversion requires to detect new lines.

[2012-02-23 05:04] swt83 commented on #846
I figured out a little more.  The _from_csv() method assumes that lines endings are always "\n", mine are "\r".  Furthermore, the _from_csv() method assumes that all values are wrapped in double quotes.  It's not broken, just won't work for my file.

[2012-02-23 09:37] frankdejonge commented on #846
The format class should have config settings for this. Keeping this open to remind me.

[2012-02-23 11:25] danharper commented on #843
Yeah, it seems migrations may run fine with timestamps as migrate just sorts them numerically. But the current migration is stored in a config file as a number, eg. `003` so Fuel will not run migrations merged in from another branch if they have an older number.

Imagine this scenario:

Dan and Steve both have the latest master branch with migration `003_create_users`. They both work on new featur

[2012-02-23 11:31] philsturgeon commented on #843
Feel free to finish that up with a pull request! :)

Emailing from my iPhone 4S like a BOSS!

On 23 Feb 2012, at 11:25, Dan Harperreply@reply.github.com wrote:

[2012-02-26 09:57] huglester opened #848 "Config::get/set behaving wrong when value has leading zero"
Hello everyone,

Playing with File class, I spotted that chmoded dir's/files have wrong permissions.

after searching around where the bug is, it seems that config class does not play nicely with values which has leading zeroes:

here are some tests:

[code]

It's a Linux machine.
FuelPHP 1.1-dev

Thanks

[2012-02-26 10:40] frankdejonge commented on #848
Hey huglester. I've done some testing, and when you normally var_dump(0777) it will print out in(511) as well. So this is not an issue with FuelPHP but with php itself.

[2012-02-26 10:53] krtek4 opened #849 "Model_Crud : update isn't updating values after save()"
When calling save() on a Model_Crud instance for an existing row in the database, the values of the object aren't updated correctly.

The problem is on the line 507 :

[code]

In case of an update, $result is not an array but directly the number of affected rows (according to the query documentation : `* @return  integer  number of affected rows for all other queries`), so the check should be :

[

[2012-02-26 11:25] jschreuder commented on #848
This is not an issue at all: these values are octal ([as they're prefixed with a zero](http://php.net/manual/en/language.types.integer.php)) and the octal value 0777 equals 511 decimal. Which is fine.

Check out the explanation in http://nl.php.net/manual/en/function.chmod.php for the $mode argument.

[2012-02-26 11:25] #848 closed, assigned to nobody

[2012-02-26 17:35] #849 closed, assigned to nobody

[2012-02-26 19:41] WanWizard commented on #543
Closing this one. Will not be changed in 1.x, will be completely rewritten for 2.0

[2012-02-26 19:41] #543 closed, assigned to nobody

[2012-02-26 19:58] WanWizard commented on #613
Done here: https://github.com/fuel/docs/commit/78a9663c8709ecadf6487fef07e14d2f59d7889e

[2012-02-26 19:58] #613 closed, assigned to nobody

[2012-02-26 19:59] WanWizard commented on #616
Moving this to the roadmap for 2.0, when routing is going to be revised anyway.

[2012-02-26 20:13] #624 closed, assigned to WanWizard

[2012-02-26 20:26] #647 closed, assigned to WanWizard

[2012-02-26 20:30] WanWizard commented on #664
Is this still an issue? If so, maybe a check for is_string before converting it to octal?

[2012-02-26 20:31] WanWizard commented on #678
Moved to the 2.0 roadmap.

[2012-02-26 20:31] WanWizard commented on #679
Moved to the 2.0 roadmap.

[2012-02-26 20:43] WanWizard commented on #726
@FrenkyNet Can we add this on the list for QB2?

[2012-02-26 21:11] WanWizard commented on #764
Moving this to the 2.0 roadmap, where the file backend for config, lang, etc will be a generic one, probably based on the current config drivers.

[2012-02-26 21:12] frankdejonge commented on #726
We sure can. I'll put it on my list!

[2012-02-26 21:16] WanWizard commented on #726
Ok, marked as "Accepted" for the 2.0 milestone.

[2012-02-26 21:27] WanWizard commented on #818
It's in the Agent class, not in the Asset class.

As long at it's in the official specs, it will remain in the class, as it is meant to allow you to query the features of the user agent. If the browser doesn't send it, the method will tell you that.

[2012-02-26 21:27] #818 closed, assigned to nobody

[2012-02-26 21:33] WanWizard commented on #829
I find passing by reference potentially dangerous.

It is designed to allow you to pass a callback to something that has access to the data that needs to be referenced or manipulated by the event method.

As for a priority system, I'm looking forward to a suggestion that doesn't break backward compatibility.

[2012-02-26 22:47] WanWizard commented on #828
I can't find any evidence that it should be there. Looking through the rest of the code it might be a copy/paste error.

[2012-02-26 22:50] #828 closed, assigned to nobody

[2012-02-27 09:30] huglester commented on #664
I'd say that this is still an issue.. because the config values from Config, make my directories with permission 511 instead of 777

[2012-02-27 09:45] jschreuder commented on #664
ec68c4622eea81ee43a2e3e0f5b4a2ac86824963

[2012-02-27 09:45] #664 closed, assigned to WanWizard

[2012-02-28 01:40] mikebranderhorst opened #852 "Image Class - Large Image resize exhausts memory"
The Image Class is fantastic!

But when resizing large images (+/- 2.5mb+) you'll get errors.

Case: I have a large jpg and want to resize it to 1080 height 75 quality (landscape and portrait).

[code]

After trying for a while I just did it the old fashion way:

[code]

This way is to the eye three times faster and without errors and a nice image.

I have no time to dig in the very huge but nice

[2012-02-28 23:02] dlpetrie opened #854 "Array - reverse flatten"
Doesn't look like there is a way to currently reverse a flattened array aka array['some.value'] back to array['some']['value']

[2012-02-29 01:02] huglester opened #855 "Lowercase controller name in module"
Hello,

somehow it does happen that one of my controllers has lowercase name:
string(30) "Mailboxes\Controller_mailboxes"
- I'm not sure why is that, tried removing routes.php file from module
- also in app/config/routes.php there are no specific routes to route to mailboxes module...

I tried to rename controller to Mailboxes to Mailboxe (missed S at the end) - and then $this->request->controller

[2012-02-29 07:59] jonstuebe opened #856 "Mongo_Db as_array equivalent"
Is there any way other than post query to have the results sorted by column such as the functionality of the DB class and as_array?

[2012-02-29 17:27] WanWizard commented on #855
How do you request this controller?

Using http:\example.org\mailboxes (and have the router fill in the default controller name and action?) or http:\example.org\mailboxes\mailboxes\index ?

Could be that the autodetection logic in the router is missing a ucfirst()...

[2012-02-29 18:15] huglester commented on #855
Hello WanWIzard, just tested:

http://example.com/mailboxes/mailboxes/index
I get string(30) "Mailboxes\Controller_Mailboxes"

and:
http://example.com/mailboxes
I get string(30) "Mailboxes\Controller_mailboxes"

[2012-03-02 10:00] Savageman commented on #806
I'm just seeing this now. Thank you!
It needs a little tweak in the build() method from Fieldset_Field too. I'm taking care of that now.

[2012-03-02 11:31] Savageman commented on #829
For now, I'm using the Event class like this to handle references:

[code]

About priorities, we could just add a 3rd parameter to the `register()` method with a default value `$priority = 10` (default value used by Wordpress).
Pretty straigtforward but effective and backwards compatible.

[2012-03-02 14:56] mikebranderhorst opened #859 "Input::real_ip() with proxy filtering"
I use this code to get a real ip, an idea for Fuel?

[code]

[2012-03-02 15:00] mikebranderhorst commented on #859
And the "task" to get the proxy list:

[code]

[2012-03-03 23:48] WanWizard commented on #856
Is this a question? If so, please use the forum: http://fuelphp.com/forums.

If this is a bug report or a feature request I'll re-open it.

[2012-03-03 23:48] #856 closed, assigned to nobody

[2012-03-03 23:54] WanWizard commented on #829
Could you send a pull request with your suggestion for implementation?

I won't be having time for this any time soon.

[2012-03-04 20:13] #855 closed, assigned to WanWizard

[2012-03-05 09:18] gwainor opened #861 "\Fuel\Core\Arr::set() typo."
On line 90. There is a coding mistake.

[code]

in this, its asigning null variables.

it should be:

[code]

since it's a small typo mistake, I did not forked to fix it.

[2012-03-05 09:24] #824 closed, assigned to nobody

[2012-03-05 09:24] #861 closed, assigned to nobody

[2012-03-07 15:53] mikebranderhorst opened #863 "generate_base_url misses trailing slash if script_name is empty"
If somehow script_name is empty, base_url misses a trailing slash.

https://github.com/fuel/core/blob/1.1/develop/classes/fuel.php#L308

[code]

Shouldn't this be the correct code?

[code]

[2012-03-07 20:15] WanWizard commented on #863
Script name shouldn't be empty. If it is, your base_url will never by correct, so returning a slash doesn't do you much good.

What environment are you using (fgci perhaps?), and is it available elsewhere (like in $ENV)?

[2012-03-08 00:02] Savageman commented on #829
Not a pull request, but something you can look at:

https://github.com/Savageman/core/commit/d3065dd50ff50a93ab72ca3e6544ee36f577f8de (reminder to self: I forgot `ksort()`)

Usage:

[code]

It's not perfect because the priority is set depending on the type of the 2nd argument (int or callable), but needed for backwards compatibility.
Because all remaining arguments after the callback are passed to

[2012-03-09 15:41] gator92 opened #865 "Inflector Str called from global namespace"
Throughout the Inflector class, the Str static function calls are referenced from the global namespace. However, it seems like it's actually located in the Fuel\Core namespace (the same as Inflector).

[2012-03-09 17:07] frankdejonge commented on #865
This is all throughout the framework, it's the way we allow people to extend classes. If not found in global, the autoloader searches for the first class in a package that's mapped to global, and then defaults to the class in Fuel\Core. So what you see is correct, but not an issue, it's the solution ;)

[2012-03-09 17:07] #865 closed, assigned to nobody

[2012-03-09 21:47] gator92 commented on #865
Thanks for the information. For the moment, I'm using the Inflector class, one of the better I've come across, as a standalone component, so I'll adjust accordingly.

[2012-03-09 23:27] okhayat opened #866 "Watermark opacity problem with Imagick Image driver"
Using setImageOpacity() with Imagick Image driver adds a white background to the watermark image.
The line that causes this issue is:
https://github.com/fuel/core/blob/1.1/develop/classes/image/imagick.php#L77

Though this works fine with GD, but not Imagick or ImageMagick

Maybe we should allow a value of -1 (or someting else) for 'watermark_alpha' config value, so that the image opacity is not s

[2012-03-10 13:58] #866 closed, assigned to nobody

[2012-03-10 21:33] maitrepylos opened #868 "Date::create_from_string Multi Format"
Hello, it would be possible to have the possibility of creating a date following a predefined format, little as Datetime

[code]

/\* Date::create_from_string($input,$format, $pattern_key) */

Date::create_from_string("01/04/2011","d/m/Y");  //April 1st, 2011

[/code]

Thanks

[2012-03-10 21:38] jschreuder commented on #868
That is already possible: http://docs.fuelphp.com/classes/date.html#/method_create_from_string - though the documentation lacks the point that you can also directly input a pattern (a strftime() pattern).

[2012-03-10 21:38] #868 closed, assigned to nobody

[2012-03-11 17:50] Mitchell64 opened #869 "Html::prep_url() with empty string"
When using the prep_url method with the $url parameter blank, the return value is 'http://'

This behavior causes a problem when validating a url in a form. When the form field is empty, the prep_url() method returns 'http://' which is then an invalid url.

I would suggest that if the $url parameter is empty, then prep_url() return an empty string.

[2012-03-11 18:15] frankdejonge commented on #869
Htm::prep_url expects a url to be passed into the function. If your input is empty, don't pass it through Html::prep_url(). I believe you're using some kind of custom validation rule for this?

[2012-03-12 04:34] Mitchell64 commented on #869
No, I'm only using basic customization rules. The code for the website field looks like below. This will fail if the website field is not required and left blank because prep_url() will return the string "http://" which will fail when valid_url() is called.

[code]

[2012-03-12 18:05] Savageman commented on #751
I also have this problem. The prefix gets prepended twice to the for attribute of the label.

`<label for="form_form_whatever">` and `<input id="form_whatever">`

[2012-03-12 20:32] frankdejonge commented on #821
For BC reasons we're not changing this in the upcoming 1.2 release, but in the 2.0 release it will point to that directory (already implemented). For now you can just change the path in your Oil file which will have the same effect.

[2012-03-12 20:32] #821 closed, assigned to nobody

[2012-03-12 20:55] frankdejonge commented on #869
We discussed this, and this is in conflict with the purpose of this function and not just a drop-in url fixer. I'd suggest you make your own validation function that covers the functionality you require, which is very easy.

[2012-03-12 20:55] #869 closed, assigned to nobody

[2012-03-12 20:59] #795 closed, assigned to nobody

[2012-03-13 13:23] Mitchell64 commented on #869
Actually, I did have to make my own validation function. You mentioned that "this is in conflict with the purpose of this function." Just out of curiosity, what is the purpose and why would it be in conflict to return an empty string if an empty string was sent to the function?

[2012-03-13 13:28] frankdejonge commented on #869
The input should never be empty. That's one. It prepends a schema when there is none available. The only thing wrong with it now, is that is doesn't throw an UnexpectedValueException when the input is empty, which it actually should.

[2012-03-13 16:26] Mitchell64 commented on #869
Ok, I'll continue to use my validation rule. Thanks for taking the time to examine and explain.

[2012-03-15 14:50] jschreuder commented on #859
This is more something for an addon IMO.

Opinions @WanWizard @FrenkyNet  @philsturgeon ?

[2012-03-15 14:53] philsturgeon commented on #859
I think so, it would make a mean package.

[2012-03-15 14:58] frankdejonge commented on #859
Agreed, awesome, but more a package thing.

[2012-03-15 15:00] jschreuder commented on #859
Ok, 3 agreed that it's good code but would have a better place inside a package or add-on class.

[2012-03-15 15:00] #859 closed, assigned to nobody

[2012-03-15 15:02] jschreuder commented on #863
This has waited 8 days, if it gets no further feedback it will be closed.

[2012-03-15 15:04] jschreuder commented on #829
This is more a 2.0 change, I'm assigning this to the 2.0-dev milestone.

[2012-03-15 16:57] #702 closed, assigned to nobody

[2012-03-16 08:10] Savageman commented on #829
Seems reasonable to me! :)

[2012-03-16 13:05] WanWizard commented on #843
A system like this can not be implemented without breaking BC, as it will require changes to both the config file array structure and the migrations table structure.

It also means the concept of "version" will disappear, which also means you can no longer migrate to or from a specific version number.

We really need to think how this should be implemented.

@philsturgeon, @jschreuder, any thought

[2012-03-16 13:32] jschreuder commented on #843
I already started implementing something along these lines for 2.0 (it's in the fuelphp/core repo). I don't think this can be done right in the 1.x branch without some major rewriting. Might be better to backport the new 2.0 code into a package available for 1.x.

[2012-03-16 14:00] philsturgeon commented on #843
The version only works with `current()` while most people use `latest()` which is "use all available migrations".

We can just block the use of current, or alias it to latest anyway. It's not a big deal. latest() will now run all migrations that haven't been run, in order of their original time.

##

Phil Sturgeon

On Friday, 16 March 2012 at 13:32, Jelmer Schreuder wrote:

[2012-03-16 15:16] WanWizard commented on #843
I already have the code to migrate from a v1.0/v1.1 migration system to something that tracks individual migrations.

I'll check the 2.0 code to make sure the v1.2 format will be compatible and I'll drop the functionality to migrate to a specific version (since there is no sequence anymore).

[2012-03-16 15:54] WanWizard commented on #843
@jschreuder, I see that 2.0 doesn't define the storage mechanism yet, so I'll just implement one for 1.2.

[2012-03-16 15:55] jschreuder commented on #843
No Qb yet for 2.0, thus nothing to implement it with. code is mostly proof of concept so be careful, there might be some nasty bugs in there still.

[2012-03-16 16:18] WanWizard commented on #843
Besides current(), up and down also no longer have meaning...

[2012-03-16 17:28] philsturgeon commented on #843
Meh, kill em.

##

Phil Sturgeon

On Friday, 16 March 2012 at 16:18, Harro Verton wrote:

[2012-03-16 18:29] tomschlick commented on #843
basically with the changes proposed, up() and down() would become apply() and revert()

i am both for it for many reason and against it for the reasons @WanWizard stated. It give you increased flexibility for teams that have multiple migrations in development at one time but you lose the ability to have a specific database "state".

Maybe we allow both, a configurable option to follow a linear pat

[2012-03-16 21:37] #843 closed, assigned to philsturgeon

[2012-03-16 21:43] WanWizard commented on #843
@tomschlick,

For the moment up() and down() are still there, I didn't want to change too much. The version parameter is also still there, but now defines the timestamp (or any other value you use to order the migrations). Combined with up() and down() you can migrate up (or down).

Migrations are now tracked individually, so when you merge migration files in between migrations already run, they w

[2012-03-16 21:46] tomschlick commented on #843
@WanWizard awesome!

Btw, I wasn't suggesting changing the method names, just explaining what function those actually mimic with the new code to anyone who wasn't familiar with what all this was about.

[2012-03-17 17:09] peter-fritchley opened #875 "migrate:down doesn't work"
The new migrate down (supplying a version) doesn't seem to work. I think the problem resides in \Fuel\Core\Migrate::find_migrations() as it seems to be returning the wrong direction when called from \Fuel\Core\Migrate::version().

[2012-03-17 22:35] jschreuder commented on #831
This should be fixed now: aa197e81bc0fe6ebaaf732747ce6160d3500229f

[2012-03-17 22:37] jschreuder commented on #789
This is fixed now by aa197e81bc0fe6ebaaf732747ce6160d3500229f

[2012-03-17 22:45] jschreuder commented on #811
This isn't actually solvable, it's just not possible to have such a default for radio/checkboxes through these methods. The label won't know what the value is for the field and thus can't add that part. Within the 1.x codebase this will have to remain a limitation because any real solution to this will break backwards compatibility. In 2.0 this will be handled differently.

[2012-03-17 22:51] jschreuder commented on #758
This will be solved in 2.0 by introducing templating for form output.

[2012-03-17 22:51] #839 closed, assigned to jschreuder

[2012-03-17 23:04] #771 closed, assigned to jschreuder

[2012-03-17 23:38] jschreuder commented on #838
Description already possible through attribute help_text, but undocumented and badly implemented. Redid this by adding a `Fieldset_Field` $description property and set_description() method.

[2012-03-17 23:42] #762 closed, assigned to nobody

[2012-03-17 23:53] #838 closed, assigned to jschreuder

[2012-03-17 23:54] jschreuder commented on #834
Implemented here: 899b67384f91e45a42368f593a226f8812a31984

[2012-03-17 23:58] jschreuder commented on #810
This looks like a good idea in most places of the File class: first try and then try to figure out why it failed. Saves a few filesystem calls as well. Only the file_exists check be done before trying with create, move & copy.

Could you code it up and pull-request?

[2012-03-18 00:06] jschreuder commented on #863
Closing due to no feedback.

[2012-03-18 01:21] #854 closed, assigned to nobody

[2012-03-18 16:44] NykO18 opened #876 "Invalid formatting of validation rules between Fieldset_Field and ORM"
I'm just posting this one real quick because I encountered it in my project and though it was really a bummer.
Basically, I have a list of validation fields with rules and I'm trying to add a new field with the exact sames rules as another field (kind of validation inheritance). So what I'm doing is this :

[code]

This part is working as intended. The field **new_password** inherits of all of the

[2012-03-18 17:51] jschreuder commented on #876
This is not a bug, the ORM uses the correct format which is the exact same format as is used within the Validation class. The problem with copying the ORM rules didn't arise because the format there is different, but because you formatted them wrong.

All rules allow multiple arguments to be passed to them, necessary or not. Which is why the default format in the ORM and in the Validation class in

[2012-03-18 17:51] #876 closed, assigned to nobody

[2012-03-18 18:21] NykO18 commented on #876
Wait, what? If I use just **6** as the **min_length** inside the ORM Model (instead of **array(6)**), I get this :

[code]

And if I use **array(6)** inside the **add_rule()** (instead of just **6**), I get this :

[code]

So... how I am supposed to use the same format for both?
Could you explain me how I _"formatted them wrong"_? I really don't understand.

[2012-03-18 18:55] jschreuder commented on #876
First of all, the example code from you original post was correct:

`'validation' => array('required', 'min_length' => array(6)),`

But you said later:

Which is not true, this is exactly the same as how it is saved inside the Validation object. Also it will map to $field->add_rule() just like you would use it.

Now as to the error you seem to be getting always for some reason: why don't you var_d

[2012-03-18 19:04] NykO18 commented on #876
Well, they are both different. I'm still talking about the examples inside the original post. If I dump the values, there is obviously something going on :

`var_dump($validation->fieldset()->field('password')->rules);`

[code]

`var_dump($validation->fieldset()->field('new_password')->rules);`

[code]

And it goes on, and on, and on... If I continue copying the rules from one element to another,

[2012-03-18 19:04] WanWizard commented on #875
I didn't have an issue migrating down here. Are you migrating using the "old" version numbers, or do you use a different prefix?

[2012-03-19 08:38] peter-fritchley commented on #875
I have 8 migrations numbered 001_users.php to 008_categories.php (all in the app).

[2012-03-19 08:57] WanWizard commented on #875
In 1.1 the migration logic was split between the migrate task and the migrate class. I tried to merge while retaining the current design. In hindsight not a good idea.

I'm going to rewrite the migration logic, it's a bit of a mess now.

[2012-03-19 16:58] dudeami0 commented on #852
In your first example, as a note, you can do this:

  $image->resize(null, 1080)->save($file);

and it will automatically keep AR ratio with the height being 1080.

The reason the library is so slow (For GD anyways), is because of the fixes/hacks to make GD support transparency (for the most part) and other fixes. I personally think GD is terrible, and only made the driver for people in strict sha

[2012-03-19 22:33] WanWizard commented on #875
Migrations are completely rewritten, and the old behaviour (up/down without a version) has been restored.

Could you check if this fixes your problem? I don't seem to have issues anymore migrating up or down here.

[2012-03-20 09:13] komita1981 commented on #785
Still not working with transactions given in example.

[2012-03-20 14:19] mikebranderhorst commented on #852
Thanks for the feedback

[code]

Nice, didn't know this

[code]

Good to know, but jpg does not need transparency so the class could know this and should work without the fixes/hacks.

1) true
2) I'll see if I can get one (I should have given one right away, now I use my own script thus I need to do some rewriting to get the specific image out of 250.000 images (I had about only 10 images with thi

[2012-03-20 14:22] richard-myers opened #881 "Migration of Packages should use loaded package paths and not assume everything is in PKGPATH"
The Migration class currently assumes ALL packages exist within the PKGPATH but the default config file implies users can place packages at any path they want ie. array('mypackage' => APPPATH.'packages/mypackage/')

I suggest that the Fuel\Core\Migrate::_find_package() be moved to

[code]

Its also worth altering the code (starting line 76) in the Oil Migrate task to:

[code]

Apologies for not ma

[2012-03-20 14:24] mikebranderhorst commented on #863
Thx for feedback, I can't reproduce the problem (sorry) and the system I use for dev is MAMP 2.0.5 default settings.

[2012-03-20 19:10] richard-myers opened #882 "Bug in \Fuel\Core\Cli line 330"
Line 330 of \Fuel\Core\Cli should read

[code]

[2012-03-20 19:40] WanWizard commented on #881
Scrap my previous comments...

You can even load packages at runtime from any given path, which you will never be able to migrate.

I think I prefer to leave the current code as is, and add an option to specify custom paths, which would allow you to store your migrations files where ever you want, even if they are totally unrelated to packages or modules...

[2012-03-20 19:51] #882 closed, assigned to nobody

[2012-03-20 20:16] peter-fritchley commented on #875
Yes that seems to have fixed the issue.

Many Thanks.

[2012-03-20 20:19] richard-myers commented on #881
Totally forgot about the loading of packages manually instead of auto loading. Will leave my overridden class in place for now and wait and see what you come up with as an alternative solution.

[2012-03-20 20:43] WanWizard commented on #875
Thanks for the feedback.

[2012-03-20 20:43] #875 closed, assigned to WanWizard

[2012-03-20 20:44] WanWizard commented on #881
@philsturgeon Any thoughts on this?

[2012-03-21 10:15] philsturgeon commented on #881
I'd leave this as is. We're meant to be tagging up 1.2 any time now and 2.0 has already got much better logic for finding migrations, so no need to work on this too.

[2012-03-21 10:15] #881 closed, assigned to WanWizard

[2012-03-21 20:38] NykO18 commented on #876
Any new insight on this, you closed the issue but didn't conclude if there really was an issue or not regarding my last comment?

[2012-03-22 10:10] mikebranderhorst opened #884 "Empty array item does not serve given default"
For example if I use:

[code]

If ABC does not exist the default "some default" is returned.
But if ABC does exist but is empty the default will not be returned.

I don't know if this is by design or not.

https://github.com/fuel/core/blob/1.1/develop/classes/arr.php#L60

Shouldn't this code:

[code]

be:

[code]

I know I can do:

[code]

but this would be nicer:

[code]

[2012-03-22 10:20] frankdejonge commented on #884
This is by design, a param in an array can be empty and still be what you want without falling back to default.

[2012-03-22 10:20] #884 closed, assigned to nobody

[2012-03-23 09:19] darklow opened #885 "Form::Radio are always checked in 1.1-develop"
Whatever you try to get Form::radio you always get all of them checked.

[code]

By looking at the code in form/instance.php method radio() i can see that whatever you specify as $checked, then "checked" attribute will be specified

While for the browsers - they doesn't care what "checked" attribute value is, but if attribute itself is present, then radio button is checked, even if checked="false"

[2012-03-23 14:07] Savageman commented on #810
I'm busy this week-end. Will do that next week if it's ok :)

[2012-03-24 21:43] kesali opened #886 "Inflector::friendly_title does not convert turkish characters."
Inflector::friendly_title does not convert turkish characters, such as ö ş ğ ı this characters should be showing o s g i.

[2012-03-24 23:09] jschreuder commented on #886
All of those are mentioned in the config file: https://github.com/fuel/core/blob/1.1/develop/config/ascii.php

Are you sure your input is UTF-8? The `Inflector::ascii()` method can only translate characters from a UTF-8 string successfully, all others wil just be removed most likely.

[2012-03-25 08:39] kesali commented on #886
Yeah sir my inputs are utf-8 some how removing the turkish characters instead of convert them to english similiar characters.

[2012-03-25 09:35] frankdejonge commented on #886
I just tested it here on latest develop and the output for me is "o-s-g-i" which is correct, can you check if your encoding is really utf-8?

[2012-03-26 10:59] kesali commented on #886
Very strange i have tested on consol and local machine still removing turkish characters instead of convert maybe it is a problem with my development machine. Thanks a lot for responses i will make some more testes hopefully find the problem.

[2012-03-26 11:05] frankdejonge commented on #886
The problem could be that you test this through the console, that input might not be utf-8, can you try it with a browser?

[2012-03-26 11:10] kesali commented on #886
i have tested on browser aswell not only console somehow does not convert as i said its might be my development system i will test on production server and add more info.

[2012-03-27 11:23] peter-fritchley opened #889 "404 routing is done on a per http request not on a per hmvc request"
It is common to use a 404 route in a module as a catch all. But once the request has been through the 404 route, subsequent hmvc requests that should also be routed through the 404 route fail.

I think that the handling of the HttpNotFoundException should be moved into the request forge or execute method to allow for this, but I'm not sure how that would work without causing an infinate loop in th

[2012-03-27 11:32] jschreuder commented on #889
No it really shouldn't. The 404 handling isn't part of the framework as you may have noticed. The 404 exception is caught in the front controller and a new request to the 404 route is created to generate the output. Handling of the 404 happens completely outside the Core and the Core has no knowledge of this whatsoever. Exceptions are used here just for the very reason to allow you to handle a 404

[2012-03-27 11:32] #889 closed, assigned to nobody

[2012-03-27 11:58] andrewwheal commented on #889
@jschreuder so what your saying is that in every place that we do a HMVC request (which is a lot of places) we need to replicate the code that is in index.php to catch the first instance of a 404 exception and route it as required? We have some apps here that make a lot of HMVC requests which all need to go through out Admin module which uses the _404_ route as a catchall.

Could you not put the 4

[2012-03-27 12:06] jschreuder commented on #889
Either do the request to a place you're sure exists or be prepared to handle the problem. Failing silently or making assumptions about how **everyone** wants it handled is wrong for any framework. Problems shouldn't arise and if they do they should be handled.

Things like putting the 404 handling in the forge is really a wrong place for generic usage. If that's allright for your app: extend the R

[2012-03-27 12:12] jschreuder commented on #889
Or better yet: create an HMVC request method somewhere (for example in a base controller) that does the HMVC request for you and handles the HMVC's NotFound exceptions in the way you want them handled. That is exactly why it works like this: to allow you to decide what to do with it. I assume everyone knows how to code DRY.

[2012-03-27 13:03] andrewwheal commented on #889
I can obviously see your point of needing to keep everything generic, we are just trying to get our Admin HMVC requests to work at as low a level as possible.

We are thinking about changing our catchall route from using `_404_` to use `(:any)` but this has the drawback that we need to explicitly specify all routes within our admin module so that it doesn't try to re-route them.  It is almost as t

[2012-03-27 13:07] jschreuder commented on #889
That last problem doesn't exist in 2.0 anymore: a route only matches when the controller it routes to exists, otherwise the route won't match.

But as I said: you can solve your current problem easily by creating your own method for HMVC requests that handles the exceptions and reroutes to the `_404_` route when an exception was thrown. Or you create a `_catchall_` route that gets called first and

[2012-03-27 13:13] andrewwheal commented on #889
Thanks for the help @jschreuder, would there be any point in putting a pull request in if we were to implement a `_catchall_` route?

[2012-03-27 13:34] quetzyg opened #890 "Validation::_validation_match_field() - empty field gives positive match"
When validating a field to see if it matches a previous one, a false positive match is returned if the later is empty.

Steps to reproduce:
- Create the validation object and add a match_field rule:
  $val = Validation::forge();
  $val->add('password_confirm', 'Password (confirm)')->add_rule('match_field', 'password');
- Fill the first field (password) with any string besides an empty one
- Leave

[2012-03-27 13:42] jschreuder commented on #889
No, I always shot that down because we prefer to keep the number of arbitrary special routes to an absolute minimum. And I completely eliminated them in 2.0 (it has application methods for handling 404s/exceptions instead of routes, and the default route `_root_` is just `'/'`).

Ask yourself: what does `_catchall_` mean that is really different from `_404_`? There are 2 possible differences:
- a

[2012-03-27 13:48] jschreuder commented on #890
First thoughts as given on IRC: contrary to other validation rules, `match_field` should not be ignored when empty.

[2012-03-28 18:31] Philalawst opened #892 "problem with strptime bug fix for windows"
to produce the bug

<pre><code>
echo Date::format( Date::create_from_string : Date::create_from_string("2012-03-27 17:39:46" , "mysql" ),  'eu_full' );
//display : 17:39, 27 mars 1912
</code></pre>

To resolve the problem :
in Fuel\Core\Date, in the bug fix for strptime (for windows support), Change the line

<pre><code>'tm_year' => date('y', $ts), </code></pre>

by

<pre><code>'tm_year' => date('

[2012-03-28 21:55] zoe-edwards opened #893 "`File::download` exits on finish, unable to cleanup"
I have created a CSV file that needs to be downloaded. When it’s been downloaded, it can be deleted from the server.

[code]

`File::delete` exits on finish, as per the Docs, but this doesn’t allow for any cleanup afterwords. Is there a way around this?

[2012-03-29 18:05] #892 closed, assigned to WanWizard

[2012-03-29 18:05] #893 closed, assigned to WanWizard

[2012-03-29 18:36] WanWizard commented on #890
Unless the field that is matched again is empty too. I'll fix it.

[2012-03-29 18:38] #890 closed, assigned to nobody

[2012-03-29 19:13] #885 closed, assigned to nobody

[2012-03-29 19:17] WanWizard commented on #886
@kesali any more info on this issue? If not, we'll close it.

[2012-03-30 06:19] kesali commented on #886
Sorry. i have had several test on latest fuelphp on github. I havent change anything from default package only added this code echo Inflector::friendly_title('şğğşüğşüğ şüğşçüöüğ İ çö ööç hjvhj vuıoıo '); to the welcome controller - action_index ;
This is the result giving me hjvhj-vuoo;
And i realize the default controller is ansi coded converted to utf-8 without bom and now result is
﻿sggsgsg-sg

[2012-03-30 10:02] WanWizard commented on #886
If I do exactly the same here, it outputs "sggsugsug-sugscuoug-I-co-ooc-hjvhj-vuioio" which looks correct to me.

So something on your local machine is doing some conversions, as all files in the FuelPHP repo are absolutely UTF-8 encoded (without BOM). Perhaps your editor is changing it?

As it's not a problem of FuelPHP, and this is not a discussion forum, I'm closing this issue.

[2012-03-30 10:02] #886 closed, assigned to nobody

[2012-03-30 13:02] billmn opened #894 "Missing message in Upload error for duplicated file"
I've set Upload configuration to doesn't "auto_rename" and "overwrite" files.

When I upload a file tthat already exists I found the error in Upload::get_errors() array, but missing the "message" key (I've checked and 110 is the right error code)

<pre>
array(1) {
  [0]=>
  array(11) {
    ["name"]=>
    string(9) "grain.gif"
    ["type"]=>
    string(9) "image/gif"
    ["error"]=>
    bool(true)

[2012-03-30 13:17] WanWizard commented on #894
All messages are added after processing using the upload language file.

Does this exist and is it up to date (i.e. does it contain a string for UPLOAD_ERR_DUPLICATE_FILE)?

[2012-03-30 13:25] billmn commented on #894
Yes and all other messages works fine ... and yes, I have \Upload::UPLOAD_ERR_DUPLICATE_FILE in lang file

[2012-03-30 13:32] WanWizard commented on #894
I can not reproduce it:

[code]

This suggests there must be an issue with your language file. Maybe one exists in app (or elsewhere, like in a module) that doesn't have this?

[2012-03-30 20:44] gwainor opened #895 "[Feature] Different Paths"
Hello,

I checked the Package class and saw, there is no option for additional paths.

To explain this Let's say I am creating a Website network. Same host but different domains. So since core files are the same, I would place the core folder to htdocs/../fuel/core.

Then since I will use some of the packages network wide, I will place the packages folder to htdocs/../fuel/packages. I will place t

[2012-03-30 22:14] WanWizard commented on #895
The Package class does support multiple locations, but indeed only on individual load. Same goes for the package section of always_load in the config.

However, nothing else supports multiple paths at the moment, so implementing that (like was done for modules) through the entire framework is quite an undertaking.

I don't expect this for the 1.x branch, but 2.0 should support this.

[2012-04-01 01:54] santiagofs opened #896 "Uri::create method retrieves current url when passing empty string as uri"
Uri::create method with an empty string passed as $uri should retrieve route for the base url.

I suggest replacing:
`$uri = $uri ?: static::string();`
for
`$uri = is_null($uri) ? static::string() : $uri;`

This came across when handling a dynamic menu, one of its links was for the home page.

[2012-04-01 09:15] WanWizard commented on #896
Both `Uri::create()` and `Uri::create("")` will return the base_url.

If you are not using 1.1/develop, then this issue is already fixed.

[2012-04-01 09:15] #896 closed, assigned to nobody

[2012-04-01 09:16] WanWizard commented on #810
@Savageman any progress? We need this in the next few days if it is going to be part of 1.2.

[2012-04-01 09:33] WanWizard commented on #785
@Djuki @komita1981 As far as I can see the implemented fix does what was originally suggested. Are you saying this wasn't the problem, and the transaction issue is caused elsewhere?

[2012-04-01 09:35] WanWizard commented on #759
@Djuki This has been open without a response for 3 months. Any comments? If not I'll close it.

[2012-04-01 10:00] komita1981 commented on #785
Yes. The problem is in binary safe file read after Redis server response to transaction request.

Redis class in Fuel is based on Redisent and original class has problem with transactions. We tested original class, class from Laravel (also based on Redisent) and there are always the same problem with binary safe file read. We are not quite familiar with binary safe file reading and we couldn't fin

[2012-04-01 10:09] WanWizard commented on #785
Ok, I'll leave this open as a bug.

[2012-04-01 11:07] Savageman commented on #810
Thanks for the reminder. I forgot :(

I made 3 commits so you can cherry-pick a subset of the modifications if needed.

I'm not sure the change to the copy() function is so good (because of the error supression operator), but if yes then we can do the same for get_size() and get_permission().

[2012-04-03 10:04] kenjis opened #901 "Migrations do not support environments"
Current Migrations only updates "core/config/migrations.php" or "app/config/migrations.php" and does not support Environments.

But developers may use one installation as both development and test environments.

See: http://fuelphp.com/forums/topics/view/8566

[2012-04-03 14:07] rob-mccann commented on #901
Do you mean this:

`php oil r migrate --env=production` ?

[2012-04-03 14:17] rob-mccann opened #902 "Migrations no longer work on < php5.3.3"
PHP 5.3.2 and below try to call the migrate function as a constructor for the Migrate class but throws a fatal error because it is a static function.

Here's some background info from the php docs that seems relevant

Presumably the migrate function needs renaming?

n.b. Ubuntu 10.04 LTS uses 5.3.2 in it's repo

[2012-04-03 14:29] jschreuder commented on #902
Probably better to solve it by adding a `__construct()` method, that should supersede the constructor assumption for `migrate()`. (clearly docblocked that it's just for 5.3.2 compat)

[2012-04-03 15:45] WanWizard commented on #901
No, the problem is that the state of the migration is written to the config file app/config/migrations.php. Which means your application can only have one state.

If you want to support multiple environments within a single application installation, this file needs to be in the environment folder, not in the main folder.

[2012-04-03 15:50] #902 closed, assigned to nobody

[2012-04-03 18:03] axelitus opened #904 "Language files for Upload errors do not work"
Using a language file in `$APPATH/lang/xx/upload.php` (where xx is the target language) does not work for error messages. This is because in the language file the upload error codes (numeric) are used to determine which error to display. The way that `array_marge` (or `\Arr::merge()` for that matter) is that they do not replace numeric keys, instead they are appended to the end of the array gettin

[2012-04-03 21:19] kenjis commented on #901
And `env FUEL_ENV test php oil r migrate` reads "config/test/migrations.php", but writes the state to "config/migrations.php"

[2012-04-04 07:52] #904 closed, assigned to WanWizard

[2012-04-04 10:22] ghost opened #905 "Not counted config directive errors.throttle"
In app config we have:
    'errors'  => array(
        // How many errors should we show before we stop showing them? (prevents out-of-memory errors)
        'throttle'     => 10,
    ),

but in static method \Error::error_handler() fuel tries to read Config::get('errors.throttling', 10) and then \Config::get('error_throttling', 10).

It seems someone forgot to change either config or error class.

[2012-04-04 13:40] WanWizard commented on #905
@FrenkyNet does this close this issue?

[2012-04-04 13:43] frankdejonge commented on #905
Commit message typo, closing now.

[2012-04-04 13:43] #905 closed, assigned to nobody

[2012-04-04 13:44] ghost commented on #905
Nope there is one more place to fix in \Error::error_handler():
Config::get('errors.throttling', 10)

Should be:
 Config::get('errors.throttle', 10)

Or app config.php should be changed to errors.throttling..

[2012-04-04 14:53] WanWizard commented on #905
Looks like that is fixed now.

[2012-04-04 15:03] ghost commented on #905
Maybe.. can't find latest app config.php file in repo (

[2012-04-04 15:40] mikebranderhorst opened #906 "Cache and expiration problem (file driver)"
The docs say if you use [expiration = false] param the default expiration is used.

I have the default expiration (config.cache_lifetime) set to 3600 (default FuelPHP setting).

Now when I use [expiration = false], the cache file is still made with inside "expiration":null which is never expire.

[code]

Docs:
123 = seconds to expire
null = never expire
false = default expire

Code:
123 = seconds

[2012-04-04 15:48] WanWizard commented on #905
looking in the wrong repo? (it's in fuel/fuel)

[2012-04-04 15:54] WanWizard commented on #906
`empty === false`, not `true`. and false is default. But the default in the driver is `null`.

You make the mistake that you assume that the setting in config/config.php is used by the cache class.

It isn't, the cache class has it's own config file in which the default expiration is set to `null`. So the docs are correct,

[2012-04-04 15:54] #906 closed, assigned to nobody

[2012-04-04 16:03] ghost commented on #905
Yes, I looked there but it's 3 month old, so I thought it's an old one or something.
But if it is a correct place to look, then problem still exists!
Inconsistent config names (errors.throttle vs errors.throttling):
    'errors'  => array(
        // Which errors should we show, but continue execution?
        'continue_on'  => array(E_NOTICE, E_WARNING, E_DEPRECATED, E_STRICT),
        // How man

[2012-04-04 16:10] WanWizard commented on #905
I searched the entire core for "errors.throttling" but found none. "errors.throttle" is correct and used in both the config file and the two locations in the Error class where this value is used.

So I haven't got a clue what you're on about. Is your core up to date? Are you looking at the wrong branch?

[2012-04-04 16:11] ghost commented on #905
Did I missed something?

https://github.com/fuel/core/commit/6a3fef70e479d7ed4212944999e757dc8e5088ee

[2012-04-04 16:13] ghost commented on #905
Hmm just checked code in repo, indeed it's fixed.. Hmm but no comment on commit that fixed it ((  OK then everything is ok now, sorry

[2012-04-04 17:08] mikebranderhorst commented on #906
Thx for clarification. I searched for `cache.php`  in  `fuel/classes/config/`, my bad.
And I misread get as set `public static function get($identifier, $use_expiration = true)`
Everything works fine now for my prune script:

[code]

[2012-04-04 17:09] axelitus opened #907 "The Fuel::always_load() method contains old code that needs to be fixed"
The Packages are loaded now in the `Fuel::init()` method [L199](https://github.com/fuel/core/blob/1.1/develop/classes/fuel.php#L199). There's even a comment in the `Fuel::always_load()` method stating this, but instead of getting rid of the code that loaded the packages in earlier versions, there's just a patch to prevent them from loading. Why not just delete that code? It is not needed anymore.

[2012-04-04 17:22] jschreuder commented on #907
The idea always was to also make `always_load()` fit to be used with something other than the default application array. Of course the default usage without input uses the application's `always_load` config value and loads those. But for the application the packages were already loaded in the original init, and thus when the default input is loaded from there the packages are removed - which would

[2012-04-04 17:41] WanWizard commented on #907
Not entirely the case, altough I have to admit the true reason is disguised pretty well.

Point is that you call call Fuel::always_load() with an array, to have your custom "always_load" array that's not in the config. And if you pass an array, packages in that array should be loaded.

It should call Package::load() there though, and not add_package() which is deprecated.

[2012-04-04 17:44] #907 closed, assigned to nobody

[2012-04-05 11:08] shulcsm opened #908 "Validation, input issue"
In case if you want to validate incomplete array (you probably would, this is why you are validating it in the first place) https://github.com/fuel/core/blob/1.1/develop/classes/validation.php#L493 it checks the global input for missing key which obviously is unwanted behaviour

[2012-04-05 11:12] BenExile opened #909 "Validation run on child Fieldset objects"
When validation is run on a Fieldset that has sub-sets (added via `$a->add($b)`, for instance), any validation errors that occur are not accessible as Fieldset_Field::error() returns false in each case and because of this the `error_class` is not applied to any field of a child fieldset when the form is built.

The result I would expect would be that the validation class ran recursively over it's

[2012-04-05 11:17] vindavs commented on #908
+1.
Example:

[code]

[2012-04-05 13:25] rob-mccann commented on #902
There's now a 'redefining already defined constructor' error thrown (line 604).

[2012-04-05 15:52] WanWizard commented on #902
Grrr...

What a stupid implementation. Which idiot came up with this error? Would it not have been easier to just take __construct() instead of bailing out with a failure?

[2012-04-05 15:53] WanWizard commented on #902
Pushed a fix for this (sorry, wrong issue number in the commit message)

[2012-04-05 16:00] rob-mccann commented on #902
No cigar, my friend. Same error, line 279 :(

[2012-04-05 18:33] WanWizard commented on #902
So, you can't have __construct() AND a method called the same as the class? This is plain stupid!

[2012-04-05 18:36] WanWizard commented on #902
I gave up. The migrate() method is no more...

[2012-04-06 18:22] bunchjesse opened #910 "DBUtil:modify_fields produces incorrect SQL when renaming columns"
When renaming fields, you should use `ALTER TABLE...CHANGE` instead of `ALTER TABLE...MODIFY` which is what is currently hard-coded.

This issue originates from a change this commit: cd151a68b961f11074e461f268dfd06441140f22. However, simply reverting this commit would re-introduce the original issue that prompted the change. A possible fix would probably check to see if you're renaming the field a

[2012-04-06 20:15] WanWizard commented on #910
Looked at that original commit, but changing MODIFY back to CHANGE doesn't really affect the other modifications.

@FrenkyNet, what do you think?

[2012-04-06 21:55] bunchjesse commented on #910
@WanWizard Right, but if you hard code it back to CHANGE, it will fail if you don't change the name of the field.

For instance, this isn't valid either:

[code]

[2012-04-06 23:05] frankdejonge commented on #910
I think the best option now it to create (yet another) param to force using change, in the next query builder this should be an option too. That's the only way to really fix this. We're trying to address 2 different scenario's in one function where one excludes the other.

[2012-04-06 23:08] bunchjesse commented on #910
Given the current setup, adding a `DBUtil::change_fields()` method makes the most sense to me. I'll submit a pull request if you agree.

[2012-04-06 23:14] frankdejonge commented on #910
Adding the param will move $db (which we want as the last param) and therefor break BC, so a change_fields function is the way to go. If you send a pullrequest, also add it to the docs and request a pull for that as well. Thanks!

[2012-04-06 23:16] frankdejonge commented on #910
In the docs it must be really clear what the difference is between the 2 functions though. Keep that in mind.

[2012-04-06 23:25] frankdejonge commented on #910
@bunchjesse Wait a second, I think I have a better solution.

[2012-04-06 23:35] bunchjesse commented on #910
OK, if it doesn't work out, here is the docs pull request: https://github.com/fuel/docs/pull/339

[2012-04-06 23:53] #910 closed, assigned to frankdejonge

[2012-04-08 12:03] krtek4 opened #913 "AutoLoader problems when multiple class defined in the same file"
I'm having a problem with the `AutoLoader` when multiple classes are defined in the same class.

In the Auth package, the `classes/auth.php` file defines two classes : `Auth` and `AuthException`.

Now, if I try to extend the `AuthException` class in one of my own file, logically the `AutoLoader` load the class from the file and everything is fine. (It is important to note that I haven't done any a

[2012-04-08 16:01] WanWizard commented on #913
The autoloader can't deal with multiple classes.

Please create an issue for this in the Fuel/Auth repo issue tracker, so those two can be split.

[2012-04-09 14:41] krtek4 commented on #913
Problem is the same case also presents itself in the core :
- classes/request.php
- classes/httpexceptions.php
- classes/theme.php
- classes/ftp.php
- classes/config.php
- classes/fuel.php
- classes/cache.php
- classes/request/driver.php
- classes/redis.php
- classes/package.php
- classes/file.php

I know some of the file I have listed are not concerned, but this is all the core files which contai

[2012-04-14 22:03] andrewwheal opened #916 "Add Arr::in_array_recursive() method"
I think it would be useful to have a function available on the Arr class to be able to recursively check if a value is in an array.

I will look into the best way to implement this and add a pull request, unless someone gets there before me.

[2012-04-15 14:00] #916 closed, assigned to nobody

[2012-04-15 23:30] jschreuder opened #918 "Make sessions initialize more lazily"
While thinking about [this topic](http://fuelphp.com/forums/topics/view/8789), I started wondering why we don't initialize sessions more lazily? Is it really necessary to initialize a session when we don't or haven't saved anything to it? Could it be better to only initialize when something is written to it or when something is fetched from it and there already is a session?

This might save a lot

[2012-04-16 08:52] lukearmstrong opened #919 "General error: 2006 MySQL server has gone away"
Seemingly at random, I suspect when the web server is under load, I receive these errors. When it does happen, it usually happens when running a task that will run for a long time. This issue doesn't happen all of the time.

One task in particular runs for several hours, it will do several queries initially to get the data we currently have, then will connect to an external API to download all the

[2012-04-17 16:11] phil-lavin opened #921 "\Input::real_ip() doesn't take into account CSV"
A lot of proxies will send CSV data in the headers. We discovered an issue yesterday where a proxy sent something along the lines of "192.168.1.5,23.44.55.66, 10.20.30.40" as the HTTP_X_FORWARDED_FOR. The fix was to assume that all headers could be CSV, split on the comma, loop and return the first IP address which is not in a private range (as decided by a CIDR check).

Is this worth me implement

[2012-04-17 18:22] WanWizard commented on #918
Sessions only auto-initialize if the "auto_initialize" key in the session config file is true (which is the default).

The reason behind making this default is that if you don't use the session in your request, your session cookie is not refreshed so it might expire when you don't expect it. So for "normal" usage auto initialize is fine.

Those that don't want it, can switch it off in the config.

[2012-04-17 19:29] WanWizard commented on #921
If you have multiple proxies chained you will indeed receive a comma-separated list (officially, comma+space separated, so make sure to trim the results).

I don't agree with filtering it on range type, most of my apps run in an intranet context, all real IP's will be 10.x.y.z. When you filter on private IP, this method would become useless for me.

Perhaps a better solution is to add a second par

[2012-04-17 23:01] jschreuder commented on #918
I know all that, I may have even been the one that added the auto_initialize config.

What I meant is far later in the process. When I use Session::get() a session will always be present, whether a value had been saved to it or not. Just by the act of checking for a session value I am initializing one. My point was if we can't change that to only initialize a session when it's actually needed. Whi

[2012-04-19 21:39] WanWizard commented on #918
Ok, this is about creating a new session?

[2012-04-19 23:21] #918 closed, assigned to WanWizard

[2012-04-20 07:44] huglester commented on #919
Hello,

I remember having similar issue on one of my older projects. The problem was they delay between mysql connections - so mysql just timed out the connection - and you have this error.

The solution was just in a meantime do db reconnect.

Hope that helps :)

[2012-04-20 10:33] jgivoni commented on #863
I would like to reopen this issue.

I have the same problem, and I can reproduce it in the following setup:

When Apache server is configured with an AliasMatch to route all requests (except /assets/) to index.php, the 'script_name' for some reason do not get set:

Alias /assets/ /var/www/fuelphp/public/assets/
AliasMatch ^(.*)$ /var/www/fuelphp/public/index.php/$1

I have no idea whether this is

[2012-04-20 15:09] lukearmstrong commented on #919
Looks like the reason it is happening for me is because of this setting on our mysql server.

http://dev.mysql.com/doc/refman/5.0/en/server-system-variables.html#sysvar_wait_timeout

Our development server has the default, 28800 seconds (8 hours).
But our live server is set to 60 seconds.

I should be able to come up with a fix so that it attempts to reconnect if the exception thrown is `General e

[2012-04-20 15:25] lukearmstrong commented on #919
Here's a simple task I made to reproduce it.

[code]

[2012-04-20 20:18] #863 closed, assigned to nobody

[2012-04-21 08:06] huglester commented on #919
Yeah it must be smth to do with timeout.
Maybe there should be an option to allow 'reconnecting' or smth, if the time between last and previous queries are X secnds/minutes, etc.

WHat I get is:
http://d.pr/i/1CZy

But the error is different beacause of driver I think.
ANd yes, if I remove sleep() - all works

[2012-04-21 13:44] lukearmstrong commented on #919
This only seems to be a problem for one task that takes a long time to run, so my temporary fix at the moment is just to set the wait_timeout back to the default at the beginning of the task. `SET SESSION` only changes it for this connection, so it won't be done for all connections.

[code]

The reason I call it a temporary fix is because there are other problems that cause a database connection t

[2012-04-22 00:00] raquo opened #928 "Lazy session creation with simpleauth bug"
I am using simpleauth with all default settings – cookie based sessions, auto_initialize true, etc. Everything used to work, but after I've updated to latest 1.1/develop today, `Auth::instance()->login(...)` throws the following error:

[code]

And it does not log me in.
The fuelcid cookie does get created with this content (encrypted):

[code]

Note that it doesn't have the user_agent key, since

[2012-04-22 11:00] WanWizard commented on #928
The create() method is called from the write() method. Issue is probably that SimpleAuth calls the rotate() method, which doesn't check if it's a new session.

[2012-04-22 11:01] #928 closed, assigned to WanWizard

[2012-04-23 13:10] darklow opened #932 "Wrong return type in phpdoc for Input::get()"
By some reason there is `return void` for Input::get phpdoc block

[code]

[2012-04-23 15:03] WanWizard commented on #932
Can you send a pull request?

[2012-04-23 16:43] darklow commented on #932
I wish, but i haven't set up contribution environment yet as required in contribution documentation. Maybe someone who has it, can do a fast fix? Thanks.
Correct `@return` phpdoc i gues must be the same as for post() method
`* @return  string|array`

[2012-04-23 19:01] #932 closed, assigned to nobody

[2012-04-23 22:46] WanWizard commented on #759
No response.

[2012-04-23 22:46] #759 closed, assigned to nobody

[2012-04-23 23:06] #766 closed, assigned to nobody

[2012-04-23 23:28] WanWizard commented on #783
@jschreuder, any comments?

I agree that by default URI routing should not be case sensitive. Technically changing this breaks BC, but for me this is so logical I could live with that.

Case sensitive routing should be the exception, ideally on a per-route basis. But I haven't found a decent way of configuring it without making it very complex.

[2012-04-23 23:29] WanWizard commented on #894
@billmn any feedback?

[2012-04-23 23:36] WanWizard commented on #852
@dudeami any further comments?

[2012-04-24 10:39] jschreuder commented on #783
First the principle:
I disagree, no 2 urls should route to the same output - if only for SEO purposes. And while I would consider it incredibly bad practice to route differently based on casing, they're still not the same URL. The only exception I would make to this rule is that both a URL ending on a forward slash and one lacking it should route to the same page. Best thing is to redirect the URL

[2012-04-24 12:13] WanWizard commented on #783
So, to summarize: to deal with this issue you'll have to define all your routes twice (and worst-case in any combination of case)?

I understand the principle, but I think this is something that can not be explained to users, and is very troublesome to catch in your application at the moment.

If routing has to stay case sensitive, I would suggest a config setting so this behaviour can be altered.

[2012-04-24 16:42] jschreuder commented on #783
I'd agree with a config setting which may be altered, though it should default to current behavior to keep BC in the 1.x branch. And this needs to be solved more consistently for 2.0, I've added it to my todo list.

[2012-04-24 18:37] phil-lavin commented on #921
Put another commit in there to correct the use of $_SERVER. It's better tracked at #936

[2012-04-24 21:57] dudeami0 commented on #852
3) From the sounds of it resize() or crop_resize() will do the trick. resize(1920, 1080) will keep it within that bounding box of 1920x1080, and you can toggle padding with the 4th argument.

6) I still do not see a lot of use for this, at least the resource part of it. Yes it would be cool, but under used in my opinion.

9) The image library will always be slower. Some optimizations could probabl

[2012-04-25 09:29] #908 closed, assigned to frankdejonge

[2012-04-25 20:46] WanWizard commented on #783
Ok. I'll deal with the 1.x setting.

[2012-04-26 18:47] billmn commented on #894
No ... there aren't any "upload.php" language file in other folders.
I don't know why but I have the same problem with another project in FuelPHP (that use the last version of CORE, ..)

I think that I can test upload in another new project with clean FuelPHP files this evening and update this issue soon

[2012-04-26 18:59] WanWizard commented on #894
Ok. I'm very interested to see what happens, as I can't reproduce it here.

[2012-04-26 22:43] billmn commented on #894
Ok ... I have the same error on a fresh install.

I've created a repo for you : https://github.com/billmn/fuel-upload-test
I know, the code is horrible, but is only a test :)
- If you try to upload, it's ok
- If you try to upload without files the message is right
- If you try to upload again the same file :
  <pre>
  array(1) {
  [0]=>
  array(1) {
    ["error"]=>
    int(110)
  }
  }
  </pre>

[2012-04-27 10:10] jcldavid opened #937 "Uniform URI Structure"
I think Fuel should implement a uniform URI structure to make all URLs enforce a trailing `/` (forward slash?).

[code]

[2012-04-27 10:37] jschreuder commented on #937
I would agree in general but I would certainly not enforce a trailing slash, instead I'd propose to strip the trailing slash when present and thus handle both with & without the same. This has already been implemented in 2.0.

The reason for stripping it is that enforcing it leads to weird URLs when using a suffix/extension, like `http://localhost/controller.html/`.

[2012-04-27 10:48] jcldavid commented on #937
Oh, that would be better. then just use `url_suffix` in the config to enforce a trailing slash?

[2012-04-27 10:56] jschreuder commented on #937
That could work, but you'd have to call on `Input::extension()` in order to get the trailing slash... (which is kinda useless of course)

[2012-04-27 20:03] WanWizard commented on #894
Thanks for taking the time, this made finding it a breeze!

[2012-04-27 20:05] #894 closed, assigned to WanWizard

[2012-04-28 10:43] WanWizard commented on #921
Pull request was merged and documented.

[2012-04-28 10:43] #921 closed, assigned to nobody

[2012-04-28 10:53] #783 closed, assigned to WanWizard

[2012-04-28 16:41] #764 closed, assigned to WanWizard

[2012-04-28 16:53] WanWizard commented on #913
Looked at this again.

These exceptions are specific for the class they're defined with, you should not use them other then in relation to this class. So it's fine to use them if you extend one of these classes, as the original will be loaded too.

You should not define a new class, and reuse one of these exception classes.

[2012-04-28 16:53] #913 closed, assigned to nobody

[2012-04-29 16:15] krtek4 commented on #913
The problem persists if I declare the following :

[code]

The autoloader will find the reference for `ExceptionA` first, load the file, and when the declaration for `MyClass` will be reached, the `_init()` method of `A` won't be called.

[2012-04-29 16:41] WanWizard commented on #913
I understand that you can come up with a scenario in which it fails.

My point is that you shouldn't do that. If you just extend a core class, or extend a core class AND its exception class at the same time, there is no issue.

As I wrote before, you should not use your own exceptions in your own classes, and then extend a core exception.

[2012-04-29 16:48] krtek4 commented on #913
This particular scenario fails. You can try it :

[code]

in the same file will results in the `_init()` method of `Auth` to never be called. Sure your an workaround this pretty easily, for example by moving the declaration of the new exception afterward.

BTW,  I understand that a fix for this problem is really hard to find and I'm not asking for one. Just some documentation somewhere for people

[2012-04-29 18:22] WanWizard commented on #913
That's what I said. It's not needed and rather pointless to do

[code]

And if you don't, you don't have the problem. Do this instead:

[code]

The issue can not be resolved other then creating separate files for all exception classes, which is a waist of file I/O given my previous statement, or by adding very complex code to the autoloader to detect which classes are defined in the file loaded.

[2012-04-29 19:03] WanWizard commented on #919
I've been thinking about this for a few days now.

It's my opinion that your database should not disconnect within 10 seconds, that's a sign of poor configuration, by default PHP scripts can run for 30 seconds. So it should be solved there, not worked around in the framework code.

And if you have a long-running task, you normally would change the PHP script timeout, so why not the DB session time

[2012-04-30 08:08] lukearmstrong commented on #919
Our dedicated db server is set to 60 seconds because there were problems with sites running in other languages/frameworks/etc on other servers. I believe this setting was changed because ASP creates persistent connections, but then is unable to reuse them, which eventually causes a max connections error.

I believe our PHP timeout is the default, and is not changed by this task.

Regarding my spec

[2012-04-30 08:13] huglester commented on #919
While in PHP, you can't change timeout limit from framework or somehow 'fix' it
in mysql - we can - with reconnect.

so maybe it would be good addition? I myself didn't meet this specific problem ever yet, but who knows ..:)

[2012-04-30 09:52] WanWizard commented on #937
The difference between the two is that the base URL (as the name implies) is used a base for constructing URL's, so the trailing slash is always needed. It is never meant as a means of returning the hostname.

Uri::current() points the the current page, which is never a directory, and therefore always without trailing slash. Even though it might look like a directory to you, it is actually a page

[2012-04-30 09:52] #937 closed, assigned to nobody

[2012-04-30 11:09] #919 closed, assigned to nobody

[2012-05-03 00:33] iturgeon opened #941 "File::copy to new file using area restrictions fails"
File::copy is throwing a OutsideAreaException error when it shouldn't

config/files.php:

[code]

Code that copies/renames a file into another directory:

[code]

File::copy uses Fuel/Core/File_Area::get_path() which will end up running realpath() on the source and target paths,
realpath() returns false on the target because:

[code]

This ends up setting $path to false within Fuel/Core/File_Area:

[2012-05-03 00:44] iturgeon commented on #941
I can initiate  a pull request if I'm not doing something insane here.

[2012-05-03 21:32] WanWizard commented on #941
This is not the correct solution, as there are more methods that use get_path(), and might have the same issue, like File::rename().

It would probably be better to give get_path() a second parameter to indicate the filename should be stripped if true (so only the path is checked, which must exist). The copy() and rename() methods can then use this second parameter on their $new_path calls...

[2012-05-03 21:34] WanWizard commented on #941
@jschreuder, mind looking at this? I see get_path() being called all over the place while being passed a filename instead of a path. If this issue is valid, not a lot of the File classes actually works..

[2012-05-04 11:41] jschreuder commented on #941
Actually this shouldn't be able to rename, that's what the rename method is for. But you are right that this cannot work currently, though that has little to do with `get_path()`, which is just a method to ensure that the given path is a full path and falls within the expected FileArea. The problem is that the `$new_path` variable should include the filename which it currently doesn't.

The soluti

[2012-05-04 22:02] it-can opened #942 "version update"
the version should be updated to 1.2 if I am not mistaken...

https://github.com/fuel/core/blob/1.2/develop/classes/fuel.php#L37

[2012-05-04 22:13] iturgeon commented on #941
Agreed, the above change will change copy to prevent renaming (docs need to mention this?)

However `File::rename()` is plagued by the same issue where `real_path()` will be called on a new path+file when using area restrictions.

[2012-05-04 22:39] it-can commented on #942
I see it has already been fixed! thanks

[2012-05-04 22:39] #942 closed, assigned to nobody

[2012-05-05 09:29] WanWizard commented on #942
We're still busy with the preparations. Once finished it will be branched to 1.2/master.

[2012-05-05 09:31] WanWizard commented on #941
That is what I meant, File::rename() uses basically the same logic as File::copy(), thus hitting the same issue().

[2012-05-05 09:59] it-can commented on #942
ok nice... I always use a develop version, I like new features ;-)

[2012-05-05 10:02] WanWizard commented on #942
Maybe not a good idea now, 1.2/develop is broken at the moment until we are finished removing deprecated code...

[2012-05-05 10:29] it-can commented on #942
ok, thanks for the heads up... I'll switch back to 1.1/develop for the moment...

[2012-05-05 10:42] WanWizard commented on #942
After 1.2 has been released, we'll create a 1.3/develop as the new active development branch. Once that appears you can switch to that to be on the bleeding edge again.

[2012-05-05 10:44] kenjis opened #943 ""oil create" installs "1.2/develop""
Sould it install current released version, that is "1.1/master"?

[2012-05-05 11:57] WanWizard commented on #943
This is a known issue and a bit of a catch-22.

Oil basically clones the default repository on github, as it doesn't have a way of knowing what the latest master is. And we can't set the default to the latest master, because we've seen that people started forking that, and sending pull requests for issues already fixed in the latest development branch.

We're busy figuring out a way to check what

[2012-05-05 12:59] kenjis commented on #943
Then, how about using branch name just "master", not "1.1/master"?
I don't see the merit of current branch naming rule. Why don't you use just "master" and "develop"?

[2012-05-05 15:04] WanWizard commented on #943
Because we need to keep multiple versions. After the release of 1.1 a bit of a cockup was made, which we're going to correct once 1.2 is released and we will end up with 1.1/master (last release), 1.2/master (current release) 1.2/develop (for release fixes), and 1.3/develop (current development). Other branches will be removed.

[2012-05-05 15:18] WanWizard commented on #943
Replace /usr/bin/oil with this script:

[code]

@philsturgeon can you put this online if and when possible?

[2012-05-06 00:08] philsturgeon commented on #943
It's pushed to GitHub, no idea how to get it to live.

Emailing from my iPhone 4S like a BOSS!

On 5 May 2012, at 10:18, Harro Vertonreply@reply.github.com wrote:

[2012-05-06 10:26] WanWizard commented on #943
Which repo?

it still needs to be improved, ideally it needs to grab the correct branch before cloning, so the current submodule references for the cloned version can be used. Haven't got a clue how to do that atm.

[2012-05-06 10:39] it-can commented on #942
Ok cool, thanks for the info! Is there some sort of planning for this?

[2012-05-06 10:59] WanWizard commented on #941
@jschreuder No, the issue is that get_path() fails when an area is active, and the path passed to get_path() contains a filename. So the filename needs to be stripped, get_path() needs to operate on the path only.

[2012-05-06 11:01] #941 closed, assigned to nobody

[2012-05-06 11:01] WanWizard commented on #942
1.2 RC is planned for today.

[2012-05-06 21:08] philsturgeon commented on #943
There is a special repo for it:

https://github.com/fuel/installer

##

Phil Sturgeon

On Sunday, 6 May 2012 at 05:26, Harro Verton wrote:

[2012-05-06 21:09] WanWizard commented on #943
Ok. thanks. Learning all the time... ;)

For now, can you bump the /current-version to 1.2 when you have the chance?

[2012-05-07 01:07] kenjis commented on #943
@WanWizard "oil create" should install current released version, I mean now not 1.2RC1 but 1.1, shouldn't it?

How about consider to change to a branching model like "A successful Git branching model"?
http://nvie.com/posts/a-successful-git-branching-model/

The point is "master" is always latest released version, and "develop" is always edge of development.

Every time to change the development b

[2012-05-07 01:25] philsturgeon commented on #943
We already use Git Flow, this is an adaption of that which lets us work on multiple versions in tandem, without needing totally different repos (which would be silly)

##

Phil Sturgeon

On Sunday, 6 May 2012 at 20:07, kenjis wrote:

[2012-05-07 09:31] WanWizard commented on #943
@kenjis we have decided on this switch because 1.2RC1 is an awful lot more stable then 1.1.

And it's only for a week or so, if no major issues come to light I plan to release 1.2 as soon as possible.

[2012-05-07 11:21] kenjis commented on #901
fixed https://github.com/fuel/core/commit/3c92f7c975807afb6065901fb8b48fa269c13cd9

[2012-05-07 15:15] WanWizard commented on #901
Indeed. Forgot to close this one.

[2012-05-07 15:15] #901 closed, assigned to nobody

[2012-05-07 18:19] tarnfeld commented on #919
Awesome this is fixed, just to interject anyway - I think its bad this never worked like that, I was just investigating if this worked this way because one of the biggest problem I have is slow clients (i.e. making a call to an api between queries) are hogging mysql connections...

Anyway, fab this is fixed!

[2012-05-08 10:11] WanWizard commented on #919
I'm still not in favour of this. If your environment is configured properly your database should not disconnect faster then your PHP execution timeout. But appearently I'm alone in this...

[2012-05-08 10:24] lukearmstrong commented on #919
@WanWizard I agree, but there could be other issues that cause a connection to be dropped. Thanks for the fix.

[2012-05-08 12:34] tarnfeld commented on #919
@WanWizard Definitely with the timeout, but for me if a client connects to the db and proceeds to process for 10 seconds, that connection is wasted and could be used for another client... can definitely cause issues when trying to push as much through mysql as possible.

[2012-05-12 10:13] PrimozRome opened #948 "Watermark padding always 0 when using imagemagick driver"
Padding is always 0 when using imagemagick driver. When I use GD driver then padding is normally applied as defined. My code

[code]

[2012-05-12 12:12] kenjis commented on #943
I agree that 1.2RC1 is more stable than 1.1.

BTW, latest oil command was updated to install current versions master:
https://github.com/fuel/installer/commit/29a0110e3841049a309b731369aa90f4a7aa8ff3

But "http://get.fuelphp.com/installer.sh" is not updated.

[2012-05-12 12:45] WanWizard commented on #943
We don't have access to both DNS and Pagodabox at the moment (Dan holds the accounts), we're working on resolving that issue.

[2012-05-13 10:54] Daniel15 opened #949 "Arr::is_assoc doesn't work properly for assoc arrays with numeric indices"
Arr::is_assoc doesn't work correctly when you have an associative array with numeric indices.

Example:

[code]

One [alternative I saw on StackOverflow](http://stackoverflow.com/a/265144/210370) is this:

[code]

But I haven't tested this in all scenarios.

Additionally, this function should probably use the "array" typehint which was introduced in PHP 5.1:

[code]

[2012-05-13 15:52] WanWizard commented on #949
Well, that's because it is not an assoc array, it has numeric keys only.

An indexed array is an array with only numeric keys, and if not, it's an associative array.

[2012-05-14 09:47] billmn opened #952 "Format to_csv() bug"
There is a bug with to_csv() method if the array is multidimensional and doesn't have a "0" key ... for example (an ORM result or an associative array)

<pre>
// ORM result
["3"]=> object(stdClass)#61 (10)
{
  ["name"]   => string(1) "foo"
  ["name_1"] => string(1) "6"
}
["1"]=> object(stdClass)#61 (10)
{
  ["name"]   => string(1) "foo1"
  ["name_1"] => string(1) "6"
}

// Associative array
array(

[2012-05-14 11:04] Daniel15 commented on #949
So even if the numbers are not incremental, the array is still classified as "indexed"? I use arrays like this as lookups and wouldn't consider them as indexed arrays.

[2012-05-14 12:34] WanWizard commented on #949
At the moment, yes. I haven't found any reference to the requirement that an indexed array needs to have consecutive keys.

Do you have a use case where this is required?

[2012-05-14 15:03] billmn commented on #952
Now we can discuss about the code optimization

[2012-05-14 15:24] #952 closed, assigned to nobody

[2012-05-17 04:13] chadhutchins opened #960 "Lang::load causes unexpected results due to Arr::merge handling arrays with integers as keys."
As documented in the source code, it does clearly state "Numeric keys that don't conflict aren't changed, only when a numeric key already exists is the value added using array_push()", but I'm trying to figure out why?

I ran into the issue because I had an array in my lang file that I use for dropdown population, something like:

[code]

Say you load that config file (intentionally or not) 3 time

[2012-05-17 21:46] ghost commented on #960
<code>
$array1 = array("zero" => "0", "one" => "1", "two" => "2");
$array2 = array("zero" => "0", "one" => "1", "two" => "2");
$result = array_merge($array1, $array2);
print_r($result);
</code>
Outputs: Array ( [zero] => 0 [one] => 1 [two] => 2 )

<code>
$array1 = array("0" => "zero", "1" => "one", "2" => "two");
$array2 = array("0" => "zero", "1" => "one", "2" => "two");
$result = array_merge($ar

[2012-05-17 22:04] chadhutchins commented on #960
@element13 I appreciate the response, but that's not exactly the issue at hand. I'm able to get around the issue that I've posted about, but my question is more around should the framework work the way that is does today.

From the original post: "So should Arr::merge not handle integer keys like this? Or should Lang::load() not use Arr::merge when re-loading lang files?"

In the use case of the f

[2012-05-18 00:13] kenjis commented on #960
In PHP, `$a['0']` and `$a[0]` are the same.

(added)
This could be the result you want:

[code]

[2012-05-18 01:09] ghost opened #961 "CSRF token not usable in multiple forms"
The CSRF token gets reset every time `Security::check_token` is called.  This causes problems when the user has multiple pages open or multiple AJAX calls are made from the same page with the same token.

[2012-05-18 02:35] chadhutchins commented on #960
@kenjis I appreciate the response. What you say is true, although I'm not looking for a workaround to get my one use case working. I've already done that.

My question is about what's best for the framework. Should Arr::merge not handle integer keys like this? Or should Lang::load() not use Arr::merge when re-loading lang files?

[2012-05-18 03:36] Daniel15 commented on #949
I was trying to look but couldn't find much.

I forgot the original issue I encountered due to this (I really should have written it in this issue). If I remember it I'll add it in here.

But there's some cases when arrays with numeric keys are used like associative arrays (like if you have a lookup of ID => Name or something similar).

[2012-05-18 08:19] antitoxic opened #962 "File::rename() fails when provided with new extension."
OK, I might be doing it completely wrong but please have a look:

[rename($new_name, $new_extension = false) @ /framework/core/classes/file/handler/file.php ](https://github.com/fuel/core/blob/1.3/develop/classes/file/handler/file.php#L86)

As far as I read the doc blocks `$new_extension` is either `false` or the actual new extension as a string value.

But the method uses `$new_name` instead of `

[2012-05-18 08:56] darrentaytay opened #963 "Allow custom Environments to be defined"
Currently there are 4 predefined constants in Fuel - Development/Test/Stage/Production.

If you create a new environment in your config folder such as /fuel/app/config/demo, you can add your configs etc. and that's fine - however, you can't run Oil and specify that environment as it looks for a Constant that matches your environment passed in:

\Fuel::$env = constant('\Fuel::'. strtoupper($env)) ?

[2012-05-18 09:13] #962 closed, assigned to nobody

[2012-05-18 11:47] quetzyg opened #964 "Validation::_validation_match_field() - ErrorException if a field doesn't match"
When validating a field to see if it matches a previous one, I get the following notice:

Notice!

ErrorException [ Notice ]: Trying to get property of non-object

COREPATH/classes/validation.php @ line 684:

683:    $validating = $this->active_field();
684:    throw new \Validation_Error($validating, $val, array('match_field' => array($field)), array($this->field($field)->label));
685:    }

Step

[2012-05-18 12:35] WanWizard commented on #960
Both the Lang and the Config class have a parameter called `$overwrite`, which allows you to switch between `Arr::merge()` (`false` and the default behaviour) and `arr_merge()`.

So the requested behaviour is already supported by the framework, if you don't want a recursive merge, use `true` for the $overwrite value.

[2012-05-18 12:41] WanWizard commented on #949
I understand that, but that doesn't make it an assoc array.

The only question is: is an array with non-consecutive numeric index values an assoc array or not?

[2012-05-18 12:41] WanWizard commented on #949
@jschreuder any comments on this?

[2012-05-18 21:21] TamasBarta opened #967 "In special cases the Image class produces 1 pixel wide output"
If you are using the crop_resize function, some rounding problems might occur. It takes two steps, to resize, and to crop, but with some values, after the first step, you can get a 1 pixel narrower than desired, and in this case, the final output will be 1 pixel wide.
I only reviewed the problem very shallow, so it might not be exactly there, it could be a gd library bug, since I had no possibilit

[2012-05-18 22:31] WanWizard commented on #967
Could you add some code examples to reproduce this, the current description is very vague...

[2012-05-18 22:44] TamasBarta commented on #967
[code]

Where the source image is 3872x2592pixel, and $width = 690, and $height = 260.
In my case all the images are portrait images compared to 690x260 so I can ignore the x offset when cropping, so I resolved it at the moment by replacing

[code]

with

[code]

at line 362 in fuel/core/classes/image/driver.php (that's where the two step I mentioned takes place)

I hope that's enough information.

[2012-05-19 00:04] kenjis opened #968 "Validation valid_string error message is strange"
Test code:

[code]

Result:
`string(54) "The valid string rule valid_string failed for field F1"`

Lang file:
`'valid_string'  => 'The valid string rule :rule failed for field :label',`

valid_string has array flags, so I can't change lang file to `The valid string rule :param:1 failed for field :label'`.

[2012-05-19 02:12] mbbender opened #969 "Input::method() does not respect Request::set_method()"
When evaluating Input::method() from a function which was invoked via Request::forge(), Input::method() will return the value of the originating request that started up Fuel instead of the Request::active().

One would expect that creating a request via Request::forge('endpoint')->set_method('POST')->execute(array('key'=>'value')); would produce at 'endpoint' results of Input::method() = 'POST' ev

[2012-05-19 02:38] Daniel15 opened #970 "More detailed error logging"
Currently, exceptions and errors are logged to the log file with messages like this:

These are okay, but they don't give much information about the error. I can tell which line the error occurred on, but can't really tell what caused it (whether it's due to my code being bad, or bad input, or what), nor can I tell what actually called the specified file (it could be any page on the site that uses

[2012-05-20 08:08] kenjis opened #971 "In rare cases Test_Cli fails"
Test_Cli::test_exec_speed() and  test_spawn_speed() fails in rare cases.

I've got a report on Mac OS X and I have failed once on Windows.

[code]

[2012-05-20 11:01] WanWizard commented on #971
I don't think those can be tested because they return a value relative to the machine you run the tests on.

[2012-05-20 14:42] jwalton512 opened #972 "Feature Request: Validation rule that allows 'require' of field when another field is not empty"
Would allow a non-required field to be required when another non-required field is completed.

For example, with the following fields in a form:  Address, City, State, Zip
- Address is not required
- If Address is completed, City, State, and Zip should become required

An example implementation would be:
$val->add_field('city', 'City', 'required_with[address]')

[2012-05-20 22:22] huzzi commented on #972
+1

[2012-05-21 03:55] jwalton512 commented on #972
opened pull request
https://github.com/fuel/core/pull/973

[2012-05-21 03:59] chadhutchins commented on #960
You're right @WanWizard, thanks. I'm not on the latest version that has the 4th param. Thanks for the help!

[2012-05-21 03:59] #960 closed, assigned to nobody

[2012-05-21 10:34] kenjis commented on #971
How about this?

[code]

Edited: I changed (int) to round().

[2012-05-21 12:29] jschreuder commented on #971
That isn't all that usefull and seriously slows down testing. In this case all you'd test is whether the output is of the expected type (float) and larger than 0. Everything else is environmental and indeed not testable.

[2012-05-21 12:31] jschreuder commented on #972
Closed as it's dealt with by #973

[2012-05-21 12:31] #972 closed, assigned to nobody

[2012-05-21 19:44] #969 closed, assigned to nobody

[2012-05-22 21:39] kenjis commented on #971
Current test code is below:

[code]

Why does my proposal seriously slow down testing? Only I do is to loose the test condition.

In current code, If start time were 1337499484.999, and it took 2.001 sec, then the test failed.

Of course, I don't think my proposal is good test. Just reduce the probability of fails.
I don't know what should this test method test.

[2012-05-23 14:26] gustavosf opened #978 "FK "reference" ignores table prefix"
I'm using DBUtil to create a supervisors table, linking it to users table with FK options:

[code]

considering we have "admin_" as table prefix in db config, will generate this SQL:

[code]

referencing "users" instead "admin_users"

[2012-05-23 16:59] billmn commented on #792
Any news about this issue??

[2012-05-23 18:10] #978 closed, assigned to nobody

[2012-05-23 18:13] gustavosf commented on #978
fixed in [#979](https://github.com/fuel/core/pull/979), sorry for duplicated issue

[2012-05-23 20:55] WanWizard commented on #792
No, I might have time for it once 1.2 is out the door...

[2012-05-23 22:45] #949 closed, assigned to nobody

[2012-05-23 22:57] WanWizard commented on #970
As not everyone would like this, I don't think the core should be modified.

This might be a candidate for a new core event, so can plug an app method in that will take care of this.

[2012-05-23 23:04] Daniel15 commented on #970
Make it an option, perhaps?
Or if not, some way for the app or a module or some sort to take over the logging would be great.

[2012-05-24 06:42] WanWizard commented on #970
That is already possible, simply extend the Error class in your application (or a package).

[2012-05-24 12:17] Daniel15 commented on #970
True, but it'd be a little bit easier and cleaner if the call to `logger` was in a separate method (so I could override just the logging method, instead of having to copy and paste the whole of `Error::exception_handler` into my app.

[2012-05-24 17:07] darklow opened #982 "Support for array with objects in Arr::assoc_to_keyval()"
It would be very useful if Arr::assoc_to_keyval() could support arrays with objects in them, therefore you could create keyval array from DB results that are returned in array with objects (useful for Form::select options and many other things).

For Model_Crud it could be even more useful, if Arr::assoc_to_keyval could support array of objects we could extend Model_Crud with something like:

[cod

[2012-05-25 06:36] #982 closed, assigned to nobody

[2012-05-29 10:01] Savageman opened #989 "[Suggestion] Separate Controller_Rest and the authentication"
We could need the REST, but without the authentication.
The goal of this is to have a lighter Controller_Rest, and less coded loaded.

[2012-05-29 10:05] Savageman opened #990 "[Suggestion] Make ViewModel behaves consistently with the rest of the framework"
ViewModel doesn't get the same syntax and usage than the other features.

I'm thinking about:

[code]

[2012-05-29 11:59] jschreuder commented on #990
Because the ViewModel is loading classes where Config, View & Lang are loading files.

[2012-05-29 11:59] #990 closed, assigned to nobody

[2012-05-29 12:12] Savageman commented on #990
I feel it's not intuitive.
A class is just a file anyway, why does it have to be so much more complicated?

If it's a class, it would be more logical to use a class syntax then?

[code]

[2012-05-29 12:47] jschreuder commented on #990
It's different because it uses the autoloader, it won't care where the class is coming from just as long as the Autoloader can find it. It allows for a shorter input but it will also accept the full classname. This has far different constraints and to mangle it into a false equivalency will only lead to more confusion.

[2012-05-29 13:27] Savageman commented on #990
So the unique recommanded solution is to use this?

[code]

Not slick like the rest of the framework is (in my opinion).

[2012-05-29 16:02] WanWizard commented on #989
Authentication is optional, so what is the issue, the handful of lines of code?

[2012-05-30 07:09] Savageman commented on #989
Yes, unneeded code is loaded.
I'm thinking about Controller_Hybrid which I'm not sure needs that at all.

[2012-05-30 18:42] WanWizard commented on #989
The Controller_Hybrid extends Controller_Rest and adds some action specific code. I am not in favour of crippling the controller, which means we can no longer extend, we will have two base controllers with the same Rest code, and two base controllers dealing with Rest calls that don't have the same functionality.

@jschreuder @philsturgeon Comments?

[2012-05-30 22:19] Savageman commented on #989
Hum. I think you're right. Can't think of a nice implementation without traits in PHP 5.4.

[2012-05-30 22:23] philsturgeon commented on #989
Yeah this is getting down the line of multiple inheritence and I'd much rather avoid it until PHP 5.4.

REST for example can have Authentication as a trait, but you could also add that to anything else. AJAX again should be a trait (error if asked non-AJAXy), etc.

Hybrid kinda makes sense but seems like a temporary solution until traits are used.

[2012-06-01 18:55] Miguel-Herrero opened #995 "Different Language file WITHOUT group"
If I try to load a different language file, but without assigning a group, shouldn't this work? `Lang::load('example', '', 'es');`

It doesn't (at least as I expected), because I have to fetch line as `Lang::get('.hello');`(you see the dot before line's identifier?) If it is not an issue, why do I have to assign it to a different new group when changing from one language to another?

I tried to lo

[2012-06-01 23:19] WanWizard commented on #995
I don't see why that shouldn't work. It will just create an element in the loaded languages array with "" as the key.

And I've just tested this:

[code]

And this works fine. It loads the language file en/test.php (I don't have "es" here), the first dump shows it's loaded with the empty string as key, and the second dump returns the requested language string without problems.

Are you sure a lang

[2012-06-01 23:19] #995 closed, assigned to nobody

[2012-06-02 14:23] kenjis opened #997 "Fieldset Field Label "for" does not match Input "id""
How to reproduce:

[code]

Generated HTML:

[code]

"id" is `form_gender_0`, but "for" is `form_form_gender_0`.

[2012-06-02 21:10] consilience opened #998 "Form->field() returns all Fieldset fields, not just form fields"
The Form class is a convenient wrapper around a Fieldset, used for creating forms. A Fieldset contains Fieldset_Fields, some of which are to end up in a form, and some which are not. If the "type" of a Fieldset_Field is set to false in the ORM 'form' element, for example, then that field will not appear in a form.

So Form->field() is an alias for the underlying Fieldset->field(), which returns al

[2012-06-02 22:09] consilience commented on #998
I think this can be taken further:

Validating the return data from a submitted form is done against the Fieldset, and not a Form object. This means that if there are any Fieldset items set to mandatory, that happen not to be fields that are part of the form, the validation still fails. The mandatory property of a non-form item relates more to the database (i.e. the Fieldset cannot be saved if the

[2012-06-03 10:44] Miguel-Herrero commented on #995
No, with the dot before it WORKS perfectly. That was not my question.

What I am asking is that I will have to code it before hand differently if I want to change betwen languages or not, because if I code it like

[code]

it will work with the default language, but if for some reason I want to change language, THIS WOULDN'T WORK:

[code]

and I would have to change all the lines of my application

[2012-06-03 11:51] WanWizard commented on #995
Ah, ok. So you're saying that `Lang::load('test', '', 'es');` doesn't overwrite `Lang::load('test');`?

That is because the default group isn't "" (empty string), it's NULL.

The first one creates a multi-dumensional array, with "" as key:

[code]

With a $group = NULL it will create

[code]

Which is what you want.

[2012-06-03 11:58] Miguel-Herrero commented on #995
Exactly! I looked at the Lang Class code and saw what you said about default NULL group.
Thank you for your time, Harro.

[2012-06-05 10:27] thpoul opened #999 "Number of values in to_assoc must be even."
Based on the documentation http://docs.fuelphp.com/classes/uri.html#/method_to_assoc when using `\Uri::to_assoc();` and the number of values is odd it should return NULL, instead I get this error:

[code]

[2012-06-05 19:55] WanWizard commented on #999
This is correct, and mentioned in the https://github.com/fuel/core/wiki/Changelog-v1.2.

This means the docs haven't been updated to reflect this change. I'll update the docs.

[2012-06-05 19:55] #999 closed, assigned to nobody

[2012-06-05 22:48] consilience opened #1000 "Controller_Template->template - what is the datatype?"
I was looking at setting the name of the page wrapper template in a controller method, as one or two methods needed a different output format. This led to an error when setting $this->template in the controller.

Looking at the controller classes, the $template property starts as a string - the name of the template. At some point it magically turns into an object. The magic happens on this line:

[2012-06-05 23:00] consilience commented on #1000
Just to add to this, because the template _name_ was converted into a template _object_ in the before() method of the Controller_Template class, before calls up subsequent initialisation methods, it means that there is no opportunity for the controller method to set that template dynamically.

A controller method can run $this->template = \View::forge('template-foobar'), but other code in the befo

[2012-06-06 07:18] WanWizard commented on #1000
It is either a View object, or a string containing the name of the view. If it's a string, the base controller will create the View object for you.

If you want dynamic template changes based on the method called, either do it in the before() method before calling the parent::before(), or utilize the router() method (note that it is called after before!).

But if the template really changes for ea

[2012-06-06 07:18] #1000 closed, assigned to nobody

[2012-06-06 10:43] consilience commented on #1000
I think this was may main issue:

"It is either a View object, or a string containing the name of the view."

It should be one or the other, and if both are needed, then they should be different properties.

I suspect this is more something that needs to be noted for future versions rather than something that can be changed for FuelPHP 1.x (with the usual arguments/discussions about this kind of a

[2012-06-06 22:46] WanWizard commented on #1000
I do not agree with this.

The goal of the template controller is to provide and easy and highly automated way of generating pages, using a standard template. To this effect, all you have to do is assign the view name to the property. You can only assign scalars to a property, so that's the only choice you have there,

As a string is useless, it needs to be converted to a View object, which the ba

[2012-06-06 23:32] kingpinwebdesigns commented on #919
Hey guys, I never really add anything to the forums, but I have been following Fuel for quite some time... I just got the same issue here.

It seems the PDO connection is lost, and it IS throwing the error, which means the 2 attempts at reconnecting aren't enough???

Super weird, it had never came up during development and as soon as it got put up on the live server, running the same exact tests w

[2012-06-07 09:26] thetrompf opened #1001 "default_format for Rest not working"
Hi, I recently upgraded from fuel 1.1 to 1.2
But in my fuel/app/config/rest.php which I copied from the fuel/core/config/rest.php, I have changed the default_format to json, but it doesn't have any effect, I still have to explicitly tell the controller the format of the request by suffix the request with .json

[2012-06-07 09:53] frankdejonge commented on #1001
In the rest config you can set the `ignore_http_accept` setting to false, and it will work like expected.

[2012-06-07 09:53] #1001 closed, assigned to nobody

[2012-06-07 12:43] WanWizard commented on #1001
To add to this, the "default_format" is, as the name implies, a default value, not an override. So it is only used when the format could not be determined by other means.

[2012-06-07 12:48] WanWizard commented on #919
The fix doesn't do a second attempt, it will try to reconnect every time a query fails. If will only bail out with the exception if that reconnect fails.

So I would check out your MySQL config, to find out why it is dropping connections so fast, and why a reconnect (which is basically not a reconnect, but creating a new PDO connection object) fails.

[2012-06-07 13:13] kingpinwebdesigns commented on #919
The same thing has happened while using the mysql command line... but it does reconnect, it shows the same error, but then reconnects, and grabs the data... so there is a .02 second delay before the result gets populated...

I am being told:

This error message is a common message seen if there are too many long-running queries on the server, or if your VPS has hit it's connection resource limits.

[2012-06-07 13:37] WanWizard commented on #919
Connecting is a one-time operation, in normal circumstances the connection should live for the duration of the request.

When you fire a new query, and the connection is lost, it will generate an exception. The driver will then attempt a reconnect, and run the query again. If that fails a second time, the driver bails out with the exception.

Disconnecting is a very bad idea, that means introducin

[2012-06-07 13:45] kingpinwebdesigns commented on #919
I will also continue to look as well and post back… there are just so many damn things to worry about!  What do you recommend on the connection time-outs?  Also, do you see this as a problem while running a long cron-job that makes a ton of api requests in between database inserts / selects, or is this something that I run into only while using OIL CONSOLE?

So even though the disconnect() / conne

[2012-06-07 13:49] thetrompf commented on #1001
Thanks for the help, and the quick response.

[2012-06-07 13:53] WanWizard commented on #919
@kingpinwebdesigns see if this improves things...

[2012-06-07 14:43] kingpinwebdesigns commented on #919
Thanks Harro, I will test this out once the hosting provider removes my ip address from a blacklist. ;)  have no idea why that happened… too many ssh connections maybe.

On Jun 7, 2012, at 6:53 AM, Harro Verton wrote:

[2012-06-07 22:59] kingpinwebdesigns commented on #919
Hey Harro,

Sorry it took forever to get back to you on this one, but I think there is a huge no-no on this latest fix… as it is, it inserts 3 records at once!  I changed it to this:

[code]

Ryan
On Jun 7, 2012, at 6:53 AM, Harro Verton wrote:

[2012-06-08 09:06] WanWizard commented on #919
It was missing a break statement after the query() call. I've fixed it.

[2012-06-08 09:55] indigofeather opened #1002 "Debug::headers(); error on Nginx"
[code]

I get an error when I use Debug::headers();

[code]

The php manual said:

If only Apache can work?

[2012-06-08 12:39] ghost opened #1005 "Form::textarea generates incorrect textarea content"
Form::textarea generates incorrect textarea content in case value is "0"

The problem is in this check:
core/classes/form/instance.php ~433
$value = empty($attributes['value']) ? '' : $attributes['value'];

because empty("0") === true

personally I don't see why such check is necessary..

[2012-06-08 13:10] SCIF opened #1006 "Multi_query feature"
Suggest to add something like php built-in [mysqli->multi_query](http://php.net/manual/en/mysqli.multi-query.php)  function. Current implementation of DB class can't to handle sql with definition mysql triggers/stored routne with delimiter change because method query() execute only one query to first ocassion of ;

[2012-06-08 21:54] Stelian commented on #1002
getAllHeaders() is actually an alias for apache_request_headers() so it is rather bound to Apache. However it should not trigger an fatal error, rather gracefully degrade into a return array().

[2012-06-10 22:31] billmn commented on #997
Can you post your form.php file content to check your configuration?
Which version of fuelphp are you using?

[2012-06-11 03:34] kenjis commented on #997
@billmn

I use fuelphp 1.2. I did not change form.php.

[code]

[2012-06-11 12:28] Shne opened #1010 ""ErrorException [ Notice ]: Undefined index: extension" when using File_Area and file has no extension"
in `COREPATH/classes/file/area.php` in the `get_handler` function, `$info['extension']` is used two places (line 89 & 95) with no check whether the index is defined. The index 'extension' is not defined if the file has no extension, as documented at http://php.net/manual/en/function.pathinfo.php

minor notice: I also noticed the line `$info = pathinfo($path);` is repeated (line 85 & 88).

[2012-06-11 12:44] Shne commented on #1010
copied info from this issue into the pull request. I'm new to github, didn't realize the pull request would make an issue by itself.

[2012-06-11 12:44] #1010 closed, assigned to nobody

[2012-06-11 13:33] billmn commented on #997
Ok ... I've solved the issue and created a test

When my previous pull request (https://github.com/fuel/core/pull/1009) was closed I can create a new pull request that solve this problem

[2012-06-11 13:39] billmn commented on #971
Up ... I think that the CLI speed is not testable, depends on the machine ...

On my netbook sometimes it fail

[2012-06-11 13:42] ghost commented on #1005
Sorry, may be I don't understand, but why to check:
strlen($attributes['value']) == 0 and then return ''

isn't:
$attributes['value'] = (string) $value
and
strlen($attributes['value']) == 0

already mean that $attributes['value'] === '' ?

[2012-06-11 18:16] lvancrayelynghe opened #1012 "Theme and Asset : "src" attribute on Windows environment"
I tried to use "Theme::instance()->asset->css('bootstrap.min.css');" with this theme configuration :

[code]

Returns :

[code]

Instead of :

[code]

Corrected by replacing in "fuel/core/classes/assets/instance.php", line 244 :

[code]

By :

[code]

Same for js, line 254 and img, line 259.

Don't really now if it's the best way, but it works.

[2012-06-11 19:43] Stelian commented on #1005
The initial check was for empty(); empty(0) returns true so another check is in order to preserve the empty() check. The length of the 0 character however is 1, so adding those two conditions, that only returns true only when the variable is trully empty.

[2012-06-11 20:13] jschreuder commented on #1005
I'm closing this one, further discussion can be done in the pullrequest #1007

[2012-06-11 20:13] #1005 closed, assigned to nobody

[2012-06-12 08:08] phil-lavin opened #1014 "Autoloader is partially case sensitive"
The auto loader is partially case sensitive and partially case insensitive. All of the string position checks use stripos (this relates to something I spoke with Dan and WanWizard about months back) however the array_key_exists check is case sensitive.

This relates to this line: https://github.com/fuel/core/blob/1.3/develop/classes/autoloader.php#L234

I'd submit a fix however my solution is gros

[2012-06-12 09:48] WanWizard commented on #1012
This is not the solution, the issue is caused I believe by the theme class when it determines the path to the theme assets.

I don't have Windows, so I can't test it. Can you add

[code]

to the theme class, in the create_theme_array() method, just before `return $theme` and see if this solves it?

[2012-06-12 19:15] lvancrayelynghe commented on #1012
I tried (after removing my str_replace()), but it returns :

[code]

[2012-06-12 19:55] lvancrayelynghe commented on #1012
Ok, I think I found why it don't work. If you look here :
https://github.com/fuel/core/blob/1.3/develop/classes/asset/instance.php#L404

[code]

The strpos() test will fail, because '\' are replaced by '/'

[code]

[code]

If I try :

[code]

It works

[2012-06-13 03:49] Daniel15 opened #1015 "Input::protocol() doesn't work properly on Nginx"
Input::protocol() checks if the page is being accessed via SSL by performing this check:

[code]

Nginx doesn't have $_SERVER['HTTPS'], so Input::protocol() always returns "https" on Nginx. This should probably be checking if static::server('HTTPS') is explicitly set to on instead of checking if it's not set to off.

I've worked around this by hardcoding the HTTPS variable to "off" in my Nginx con

[2012-06-13 04:20] Daniel15 commented on #1002
This can be implemented for non-Apache servers on PHP versions before 5.4 by looping through `$_SERVER` and getting all the values where the key starts with `HTTP_`.

This implementation was posted to the comments of [getallheaders](http://au.php.net/getallheaders), but I haven't tested it so can't verify that it works:

[code]

[2012-06-13 18:56] WanWizard commented on #1012
@Benoth, that result is odd because the line you needed to add doesn't change the path. You haven't assigned it to asset_base by any chance? Because the backslashes in the path are correctly changed to forward slashes.

It is not a bug in the Asset class, so it should not be fixed there. This is a hack that will not be implemented, you should fix the bug, not add a workaround.

[2012-06-13 20:46] lvancrayelynghe commented on #1012
I restored the core to be sure and re-add your line. Same problem.

It does change the path, if i make a "vardump($theme);" without your suggestion here : https://github.com/fuel/core/blob/1.3/develop/classes/theme.php#L792 returns :

[code]

If i add "$theme['asset_path'] = str_replace(DS, '/', $theme['asset_path']);" just before, it returns :

[code]

Can't test anymore right now, but I will lat

[2012-06-13 20:55] WanWizard commented on #1012
What I find odd is that the "asset_base" is correctly determined as "themes/default/assets/". Which is used to construct the URL for the asset.

What puzzles me that somewhere the correct slashes are converted back to DS...

edit: you were on the right track, Theme doesn't pass asset_base to Asset, it recalculates it. Fix on the way.

[2012-06-13 21:23] #1012 closed, assigned to nobody

[2012-06-14 10:32] kusmierz opened #1019 "HttpNotFoundException in ViewModel"
throwing HttpNotFoundException in ViewModel shows me "standard" 404 page, nevertheless I've the _404_ route. It has been catched in ViewModel::__toString() method. Than Error::exception_handler() is calling HttpNotFoundException::handle(), which is in fact (because of extend) is HttpException::handle()... calling overloaded method HttpNotFoundException::response().

Ok, and here we have:

[code]

[2012-06-14 14:15] engrangeorge opened #1022 "Core mysql failure - Database_Query->execute() and MySQL SELECT in parenthesis"
Fuel\Core Database_Query->execute() uses the first six characters of the SQL statement to identify if the query object should be marked as type SELECT.  If this is not done, the select results are inaccessible.  However, in MySQL, a Select query can start with an opening parenthesis i.e. (select.....  This is the recommended syntax for selects with unions (see MySQL reference documentation for 5.5

[2012-06-15 00:32] huglester commented on #1015
Just upgraded to nginx 1.2.1 and had the same issue until I added the
'fastcgi_param HTTPS off;' to the config as author noticed.

thank you

[2012-06-15 09:19] ghost opened #1025 "Inline routes problem"
The problem in how such routes are executed .

On first Request run (in index.php) Request resolves routes, and in case of inline route - user func is executed, which, by documentation, should return new Request instance. That request instance will be passed to Response later, without actually executing that new Request !

So in config/routes.php I have to call execute() on newly created Request i

[2012-06-15 12:58] MacTwister opened #1026 "Migration::up() doesn't work when there are no previous migrations"
Migration::up() doesn't work when there are no previous migrations.

Specifically had issue in creating a new module, and was using the migrate:up command to go through the migrations.

Also:

php oil r migrate:down
In Logs:

Debug - 2012-06-15 13:18:40 --> Migrate class initialized
Info - 2012-06-15 13:18:40 --> Migrating to version: 0
Info - 2012-06-15 13:18:40 --> Migrated to 0 successfully.

W

[2012-06-17 09:17] WanWizard commented on #1025
I have to agree the documentation isn't exactly clear at this point.

An inline route, like controller methods, should return a Response object. Which you either create in the closure, or create using a manual Request, which indeed means you should not only forge it but execute it too.

I'll update the documentation to make this clear.

[2012-06-17 09:17] #1025 closed, assigned to nobody

[2012-06-17 09:25] WanWizard commented on #1026
On which FuelPHP version?

[2012-06-17 10:37] MacTwister commented on #1026
I think v1.2. I'm not beside my source at moment to check. (is there a way to check looking at files?) I have 2 projects 1 with 1.2-RC1 and other 1.2 (the newest one I had problem with above ) :)

[2012-06-17 14:31] WanWizard commented on #1026
In both cases the Migrate code is the same. I'll have a look.

[2012-06-18 16:37] davidfsmith opened #1029 "File::read_dir $filter returns 0 results if the first dir has no valid files"
With the structure as below:

[code]

Using:

$files = File::read_dir($directory,0,$filer);

Returns the correct data back, however if 'file.zip' is removed from the top level directory zero files are returned.

[2012-06-20 11:02] lukearmstrong opened #1032 "PHP Fatal error: Class 'ModuleNotFoundException' not found in fuel/core/classes/module.php on line 88"
Very odd, this code results in this error:

`PHP Fatal error:  Class 'ModuleNotFoundException' not found in fuel/core/classes/module.php on line 88`

[code]

Using the latest 1.3/develop branch.

Had a cursory glance at fuel/core/classes/module.php, doesn't look any different to package.php, which does the same sort of thing when loading.

[2012-06-20 11:35] lukearmstrong commented on #1032
Fixed by #1033

https://github.com/fuel/core/pull/1033

[2012-06-20 11:44] #1032 closed, assigned to nobody

[2012-06-21 14:41] WanWizard opened #1034 "Viewmodel doesn't work with the Parser package"
When the Parser package is used, you can no longer use Viewmodels due to the extension needed to select the correct parser.

example:

[code]

Viewmodel::forge() doesn't strip the extension when looking for the Viewmodel class, which it should do to be compatible.

[2012-06-21 14:43] frankdejonge commented on #1034
@WanWizard shouldn't this be an issue for the parser package?

[2012-06-21 14:44] frankdejonge commented on #1034
Probably the parser package would extend the viewmodel as well, handling the extension part.

[2012-06-21 14:58] #1034 closed, assigned to frankdejonge

[2012-06-21 14:59] WanWizard commented on #1034
Too late. But I can revert it if you want.

You have the same without Parser.

[code]

[2012-06-21 22:02] iturgeon opened #1036 "Cache_Storage_File::_get Times out on Solaris"
It looks like flock acts a little differently on Solaris, the file must first be opened with read and write permissions in order to lock the file.

http://www.php.net/manual/en/function.flock.php#93400

[2012-06-21 22:12] WanWizard commented on #1036
Are there still people using Solaris? Isn't that dead yet? ;-)

[2012-06-21 22:15] iturgeon commented on #1036
@WanWizard I wish we weren't, but thanks to the university's IT policies/staff/reluctance.  I get to help find every projects Solaris conflicts.

The same issue is occurring in the session file handler

[2012-06-21 23:31] frankdejonge commented on #1034
@WanWizard Looks like a nice solution :)

[2012-06-22 14:13] bakert commented on #1034
As the initial reporter of this issue on IRC yesterday I can confirm that this version fixes my problem.

A workaround that doesn't involve going bleeding edge or waiting for a public release is to use:

[code]

and then in the View_Hello_World ViewModel class adding a public var:

[code]

[2012-06-22 14:35] shulcsm commented on #1036
It's not just Solaris also had this issue on unknown BSD box. It freezes everywhere where flock() is used. All Fuels file operations do this.

[2012-06-22 20:15] WanWizard commented on #1036
Hmmm... Great. Going on the todo list then...

[2012-06-23 12:34] WanWizard commented on #1036
Just checking to see if I understand the issue:

If opening the file for read, we should use LOCK_SH, if opening for write, use LOCK_EX. Correct?

[2012-06-23 12:49] WanWizard commented on #1015
I have an issue understanding this logic.

If $_SERVER['HTTPS'] doesn't exist, static::server('HTTPS') will return null. So the first part of the if evaluates to false because of that. The second part evaluates to false if the SERVER_PORT is something else then 443. So Input::protocol() should always return 'http' on a default nginx install, not 'https'.

Nginx suggests to use this in your config:

[2012-06-23 13:01] WanWizard commented on #1014
I can find only one stripos() in the autoloader, which is to detect the namespace.

PHP is pretty weird when it comes to case, I would like to propose to change it the other way around, and remove the stripos to make the autoloader fully case sensitive, if only for consistency of your code.

@jschreuder, any comments on this?

[2012-06-23 13:15] #1002 closed, assigned to nobody

[2012-06-23 13:17] #1036 closed, assigned to nobody

[2012-06-23 13:17] #1026 closed, assigned to WanWizard

[2012-06-23 13:28] WanWizard commented on #964
This has nothing to do with the validation rule.

You get this error because there is no fieldset field defined for the field 'password'. The validation class needs to access that field to retrieve the field label.

So make sure all fields referenced in rules are defined:

[code]

[2012-06-23 13:28] #964 closed, assigned to nobody

[2012-06-23 13:43] WanWizard commented on #968
In this example, :param:1 is replaced by "numeric" without problems, so what exactly doesn't work?

[2012-06-23 13:50] #967 closed, assigned to nobody

[2012-06-23 16:49] WanWizard commented on #963
Issue has been dealt with in https://github.com/fuel/oil/commit/d14f9478bd31412e46bcf3e4d6535ee6f964bcd6

[2012-06-23 16:49] #963 closed, assigned to nobody

[2012-06-24 00:32] kenjis commented on #968
In this example, current code shows **The valid string rule valid_string failed for field F1**. There is no ":param:1" in lang file. So ":param:1" is not replaced by "numeric".

And if we'll change to use ":param:1", it could be "Array", because valid string can take array as its param.

I put the running code:

[code]

[2012-06-24 01:13] Daniel15 commented on #1015
Ah I found the problem. For some reason, my nginx configuration defines $_SERVER["HTTPS"] with an empty string for the value (so it doesn't equal null, and doesn't equal off - Matches the first condition). See http://lisa.youareaninja.com/phpinfo.php. It's the default Debian nginx configuration.

I'll add that bit to my config and see if it helps.

Thanks!

[2012-06-24 12:37] #968 closed, assigned to nobody

[2012-06-24 12:40] WanWizard commented on #1015
I think this suggestion does exactly the same.

Could you replace Input::protocol() with this, and see if it fixes it for you?

[code]

It should be able to deal with both an empty string and a NULL value (i.e. it's not present in the $_SERVER array).

[2012-06-24 12:57] WanWizard opened #1038 "Improved error/debug handling and /profiling for non-interactive requests"
The current options with regard to debugging, profiling and error handling all leave from the premise that you have a browser to your disposal, i.e. they all display data in the output stream.

Obviously, this doesn't work for REST calls, HMVC calls, and is cumbersome for CLI code.

This was originally discussed here: https://github.com/fuel/core/pull/985

[2012-06-24 13:07] #948 closed, assigned to nobody

[2012-06-24 13:14] WanWizard commented on #810
This was dealt with here: https://github.com/fuel/core/commit/c17a88336ef390ece10d655eb7da2cd3a79c6d00

[2012-06-24 13:14] #810 closed, assigned to jschreuder

[2012-06-24 13:20] WanWizard commented on #909
This is very complex due to the way the relation between validation, fieldset and form classes is setup.

We have decided not to address this issue in the 1.x development train, but address it in 2.0, which has a completely different way of dealing with fieldsets and validation.

[2012-06-24 13:20] #909 closed, assigned to jschreuder

[2012-06-24 19:40] #1015 closed, assigned to nobody

[2012-06-25 07:13] huglester commented on #1015
Hello,

@WanWizard, just checked this, removed the option from FCGI config - and in generates non ssl links - BRAVO !:)

Thank you :)

[2012-06-25 07:40] Propcomm commented on #1014
There's a strripos too. PHP isn't weird when it comes to the case of classes or namespaces - it's case insensitive. I wouldn't be a big fan of changing this behaviour at the autoloader level because it makes testing more complex - for example, when a particular line of code using an incorrectly cased namespace/class is called that class may already have been loaded and PHP will use it fine. In ano

[2012-06-25 07:40] phil-lavin commented on #1014
Oops. That was me, logged in on the wrong account :S

[2012-06-25 08:27] WanWizard commented on #1015
Cool. Thanks for the feedback.

[2012-06-25 11:44] gizzmo opened #1039 "Controller Response Property"
Shouldn't the `response` property of the Controller class be fully gone deprecated? I still see it being used in [Response](https://github.com/fuel/core/blob/1.2/master/classes/request.php#L383), [Controller](https://github.com/fuel/core/blob/1.2/master/classes/controller.php#L35) and  [Controller_Template](https://github.com/fuel/core/blob/1.2/master/classes/controller/template.php#L63)

[2012-06-25 13:57] bproctor opened #1040 "Tags for v1.2 and v1.2.1"
Would be nice to have tags for the last couple versions to make checkout easier.

[2012-06-25 15:28] cdelorme opened #1042 "Hybrid Controller Browser View Source Displays REST JSON"
Building a system where normal page loads and AJAX requests request the same information from the DB and have the same processing logic.  To organize my code and eliminate redundancy I used a Hybrid controller, where operations have the same routes.  For example action_news() renders html and get_news() renders a json response.  The operations themselves work fine.

While debugging some CSS I used

[2012-06-25 19:43] WanWizard commented on #1039
We haven't found a proper alternative for it that we liked, so it's still there.

[2012-06-25 19:43] #1039 closed, assigned to nobody

[2012-06-25 19:45] WanWizard commented on #1040
Tagging is pretty useless as FuelPHP uses submodule references, which doesn't work with tags. So we don't tag.

Also, when a minor version is released, it supersedes the previous version. You're not supposed to use that anymore.

[2012-06-25 19:45] #1040 closed, assigned to nobody

[2012-06-25 19:53] WanWizard commented on #1042
The Hybrid controller uses the REST controller. And that will only convert the results to JSON if the request was an ajax call, which it isn't if you request it using a browser.

Currently, this is by design, but may be reviewed for 2.0.

[2012-06-25 19:53] #1042 closed, assigned to nobody

[2012-06-26 17:09] davidfsmith opened #1043 "Mongo modifier operations don't seem to be supported"
Working with Mongo under FuelPHP and it seems that the db.php file whilst initially easy to use doesn't fully support the functions provided by the PHP driver.

For instance $push, $pushAll, $pop, $pull, $pullAll aren't available.

Does anyone have any thoughts about how these could be added in (as I'm happy to look at the coding required), however before starting is it a case that no one is that

[2012-06-27 07:54] ghost opened #1044 "Response::send_headers() sends incorrect header."
In Controller::after(), I did:

$response = Response::forge($x);
$response->set_header('Content-Type', 'text/html', false); // the 3rd argument is FALSE.

Then I got a http response header "t: text/html".

I think it's a bug in Response::send_headers() due to improper usage of list().
list() assigns the values starting with the right-most parameter.
http://php.net/manual/en/function.list.php

I fo

[2012-06-27 12:46] #1044 closed, assigned to nobody

[2012-06-28 13:14] darrentaytay commented on #963
Thanks for this!

[2012-06-28 22:45] quetzyg commented on #964
You are absolutely right!
Sorry for the false positive :)

[2012-06-29 14:20] frankdejonge commented on #1043
The Mongo_Db class is still very small atm. For the next release of fuelphp I'll be working on a query builder which includes mongo support. I have yet to start on the mongo part, but you can follow the progress here: https://github.com/FrenkyNet/Cabinet

[2012-06-29 14:20] #1043 closed, assigned to nobody

[2012-06-29 14:21] mmodler opened #1046 "Git tag releases"
Can you please "git tag" the releases of fuel/core and packages because if you use git submodules it makes updating more comforable.

Thanks!

[2012-06-29 16:03] frankdejonge commented on #1046
+1 from me, @WanWizard (aka the release master) ?

[2012-06-29 16:25] WanWizard commented on #1046
We've never done it as it adds another layer of complexity to the release process.

We have a different branch for every version, the correct submodule reference will always be HEAD (the last commit). And fuel/fuel (the app repo) of a particular branch will always contain the correct submodule references.

To update your submodule references in case of an existing project:
- git submodule git chec

[2012-06-29 17:51] WanWizard commented on #1022
Standard SQL doesn't allow for parentheses here.

MySQL has made a propriatary exception to this because it supports ORDER BY on each of the selects in a UNION, which isn't SQL standard as well.

[2012-06-29 17:52] WanWizard commented on #1022
@FrenkyNet Can you take this into account in the new DBAL MySQL driver?

[2012-06-29 17:53] #1022 closed, assigned to nobody

[2012-06-29 18:30] WanWizard commented on #1029
I don't think this is the case.

It doesn't return anything because the filter is applied to folder names to, so all your directories are filtered out.

You can deal with that by defining the proper filterset, for example

[code]

[2012-06-29 18:30] #1029 closed, assigned to nobody

[2012-06-29 18:42] WanWizard commented on #998
Don't expect any major work on Validation and Fieldsets for 1.x, as they are already completely rewritten for 2.0. One of the reasons for that is the current tangled mess that's Form, Fieldset and Validation.

And I don't entirely agree with you here. The fact that the generic build() method skips these fields doesn't mean you don't want to manually generate forms that do contain these fields. I h

[2012-06-29 18:44] WanWizard commented on #989
Based on these comments I close this issue.

[2012-06-29 18:44] #989 closed, assigned to nobody

[2012-06-29 18:48] #971 closed, assigned to nobody

[2012-06-29 18:50] WanWizard commented on #1019
I'm closing this as won't fix.

Reason behind it is that when you're in the Viewmodel, you're already busy with the V part of MVC, sending output to the client. All control decisions should have been made by then, that's what the controller is for.

This sounds like you have a design issue in your application.

[2012-06-29 18:50] #1019 closed, assigned to nobody

[2012-06-29 18:53] WanWizard commented on #943
This should be fixed by now, it currently installs 1.2/master, as it should.

[2012-06-29 18:53] #943 closed, assigned to nobody

[2012-06-29 19:07] frankdejonge commented on #970
@Daniel15 you can in fact override the `logger` function. The function is defined in `core/base.php`, so you can set it in the earlier loaded `app/bootstrap.php`.

[2012-06-29 19:07] #970 closed, assigned to nobody

[2012-06-29 19:18] consilience commented on #998
It is the consistency between Form->field() and Form->build() that I was referring to - one returns just fields that are rendered, and the other returns fields that are not rendered into the form too, giving you form fields that are not in the form. The fieldset is different - it includes all fields whether rendered or not. It was just a bit inconsistent.

But as you say, it is all being rewritten

[2012-06-29 19:24] frankdejonge commented on #1046
Point taken,

[2012-06-29 19:28] #895 closed, assigned to nobody

[2012-06-29 19:33] WanWizard commented on #998
As you wish... :)

[2012-06-29 19:33] #998 closed, assigned to nobody

[2012-06-29 19:42] WanWizard commented on #895
You can now do stuff like

[code]

Which will load packages from the app's PKGPATH, and if not found, from my centrally installed package path (in my case COREPATH points to a server-wide core installation)

[2012-06-29 23:42] frankdejonge commented on #688
2.0 has composer support handling all the dependancies, closing this issue.

[2012-06-29 23:42] #688 closed, assigned to nobody

[2012-06-30 19:01] kusmierz commented on #1019
Hm, as in [Documentation](http://docs.fuelphp.com/general/viewmodels.html):

Ok, so in your mind, firstly I should check in controller if I can get entry, and if it exists, get again same data from database (second query at least!) to show in ViewModel. Ok, but a little bit redundant...

[2012-06-30 20:20] WanWizard commented on #1019
No, that's not what I said (or meant).

The data for the view should be passed to it (or to its viewmodel) from the controller (which has used model calls to get it). The idea behind this statement is that you can fetch ancillary data in the viewmodel. Like stuff for dropdowns, info about the logged-in user, etc. Info that is needed in the view but has nothing to do with the controllers function.

[2012-07-01 02:03] Daniel15 commented on #970
@FrenkyNet  That won't override the message that is being logged, though (for example, if I want to add more information from the exception) as `logger` takes a string as its input.

[2012-07-01 08:06] frankdejonge commented on #970
@Daniel15: Can't you use the debug backtrace to get the information you need?

[2012-07-01 19:37] Solovej opened #1048 "Upload::is_valid()"
if (Upload::is_valid()) {

[code]

}

Upload::is_valid() - does not work with many files if they will upload by iframe (ajax) and if one file will have bmp type.

array('0'=>'man.jpg', '1'=>'girl.bmp','2'=>'kids.jpg')

Will save just man.jpg, because BMP is not supported, and therefore kids.jpg wil not saved.

[2012-07-01 20:53] davidfsmith commented on #1043
Looks interesting, will follow, and help where I can

[2012-07-02 06:44] mmodler commented on #1046
Thanks for the explanation, i'll try the update workflow with the next release.

[2012-07-02 06:44] #1046 closed, assigned to nobody

[2012-07-02 09:12] WanWizard commented on #1048
is_valid() will only return true if all files uploaded are valid. If the upload contains a non-valid file, nothing should be saved.

[2012-07-02 20:19] davidfsmith commented on #1029
Ok so the logic in your response makes sense and I had tried that based on the documentation (http://docs.fuelphp.com/classes/file/usage.html#/method_read_dir), however trying it now again I'm still not seeing it work even with a more simple filterset (as per the doco)

[code]

[2012-07-02 21:42] WanWizard commented on #1029
That example works as a charm here. Didn't have a tree of zip files, so I used

[code]

And it gives me a nice big nested array of all php files in all fuelphp versions I have in that folder. That folder itself only contains other folders, not a single file.

[2012-07-03 06:43] davidfsmith commented on #1029
Ok, so this is PEBKAC, resolved with a pull of 1.2/master which I was on (or thought I was) anyway.

Apologies.

_sigh_

[2012-07-03 09:29] BenExile commented on #909
Thanks for confirming. Is there a timescale for the release of 2.0? The roadmap looks great :)

[2012-07-03 13:27] agentphoenix opened #1049 "Cache::delete_all removes non-cache items"
Driver: File

The `delete_all` method in the Cache class removes _everything_ in the `cache` directory, including non-cache files. This causes problems when using version control (Git) to keep files up to date since, now, my .gitkeep file (or index.html file) are removed whenever the cache is cleared with delete_all.

The method should remove only items with a `.cache` extension. (The other soluti

[2012-07-04 00:16] iturgeon commented on #1036
Thanks guys, I was out of reach last week, but your solution works perfectly.

[2012-07-04 07:00] shulcsm commented on #1036
Isn't that while redundant?

[2012-07-04 07:18] jschreuder commented on #909
No timescale, but the Kernel package ('the core of the core') is pretty much done (though there may still be some API tweaking). The Core package is another story, that's far from ready at this point. We think we'll release the first beta this summer.

[2012-07-04 07:19] jschreuder commented on #909
You can find 2.0 on github.com/fuelphp btw.

[2012-07-04 08:14] huglester commented on #1049
Hey,

I've met similar problem. But haven't found good solution in my head so I didn't fire up an issue on github.,,

Smth like this would be an overkill I think, see an example:

you cave cache/dir1/non-cache.files.txt
and have cache/dir2/cache.file.cache
and have cache/dir3/cache.file.cache together with cache/dir3/non-cache-file.txt..

How the delete_all() should work? search every directory fo

[2012-07-04 16:40] lukearmstrong opened #1050 "Unit Test Failure: Fuel\Core\Test_Format::test_from_csv"
[code]

[2012-07-04 19:24] #1049 closed, assigned to nobody

[2012-07-04 19:26] WanWizard commented on #1036
The while() waits until it gets a lock. Which could be if there is an EX lock on it by some other process.

[2012-07-04 19:28] WanWizard commented on #1050
We know that. the CSV processing in the Format class has been improved, but the test hasn't been updated.

@FrenkyNet, wasn't that on your place? ;-)

[2012-07-04 20:47] lukearmstrong commented on #1050
I know either you or Frenky mentioned it in IRC yesterday, but I just thought I would put it in here.

I was hoping to submit a fix, but I can't figure out what is wrong considering the `test_to_csv` test in that file works with the same data.

[2012-07-04 21:09] lukearmstrong commented on #1050
[code]

[2012-07-04 21:45] m4tthumphrey commented on #1012
This is causing me problems! The slashes for all asset types are doubling to <code>//</code>. I'm on Windows 7 using WAMP. I rolled back to the version before and all was fine again. Will look into this in more detail tomorrow.

I think it is to do with line 407. It should be:

[code]

Can't really check now, will confirm tonight.

[2012-07-05 06:09] shulcsm commented on #1036
by default flock is blocking itself

[2012-07-05 07:37] lukearmstrong commented on #1050
I looked into this last night, and it does appear that the `Format` class is unable to deal with CSV data where a newline exists within a field.

So it doesn't appear that the test data is necessarily wrong, it indicates that this is a bug.

[2012-07-05 07:41] frankdejonge commented on #1050
@lukearmstrong @WanWizard yeah the new line thing is an issue. I just uncovered that yesterday. I'll see if I can makes this work using str_getcsv, if not I'll switch back to the old implementation.

[2012-07-05 08:36] #1050 closed, assigned to nobody

[2012-07-05 13:55] WanWizard commented on #1012
That's not the solution, that's a workaround. The solution should not to have double slashes in the first place.

Some more debugging is needed, which is difficult as I don't have a Windows environment.

[2012-07-05 13:58] WanWizard commented on #1036
You have a point.

[2012-07-05 14:24] WanWizard commented on #1012
Looking in the code: are you passing an asset in a folder to the request? Like '/this/folder/asset.jpg', which a leading slash?

If so, the code assumes that on Windows all directory separators are backslashes, also the ones in the asset file name that you request, not only in the asset path. After finding the file (where PHP ignores the separators), it will replace the DIRECTORY_SEPARATOR by a fo

[2012-07-05 15:06] m4tthumphrey commented on #1012
It happens on ALL of my Asset::*() calls, CSS, JS, and images. Am calling CSS and JS like so:

[code]

And images just <code>Asset::img('image.jpg')</code>.

I will test your update tonight.

[2012-07-08 05:41] komita1981 commented on #785
Original Redisent class https://github.com/jdp/redisent/blob/master/src/redisent/Redis.php does not have this bug anymore. I tried this new class with FuelPHP (modifying core Redis class) and everything worked fine. Original Redisent class has some new methods to work with transactions and example that @Djuki gave now should be

<pre>
$redis = \Redis::instance();
$pipe = $redis->pipeline();
$pipe-

[2012-07-08 14:54] DregondRahl opened #1056 "PHPSecLib Causing Error in SSH"
Pretty much the same problem happening here: http://fuelphp.com/forums/topics/view/1975

Same thing happens with Net_SSH2 and giving error:

[code]

[2012-07-08 16:49] #1056 closed, assigned to nobody

[2012-07-08 16:49] WanWizard commented on #1056
Add this to your code:

[code]

After this you can do

[code]

[2012-07-10 16:16] billmn opened #1061 "Debug::dump() toggle doesn't work!"
In some cases the new <code>static::$js_displayed</code> is already true and it doesn't "echo" the JS function to toggle dumps.

So ... when I click to open the toggle I see in console :
"fuel_debug_toggle is not defined"

In my case I've a Twig extension that dump a variable like {{ variable|dump }}. This extension only run :

<pre>return \Debug::dump($variable);</pre>

[2012-07-10 16:22] billmn commented on #1061
And I think that can be useful have a configuration where a developer can choose to have, or not, the toggle on dumps

[2012-07-10 16:36] huglester commented on #1061
Agree on that. I personally don't like toggling it, because mostly if I turn the debug on, I would like to see the dump right away

What do others think?

[2012-07-10 17:07] huglester commented on #829
Anyone thought about those events, to be smth like 'mysql' driven?
What I mean, I would like to 'queue' (insert) all those events to the database,
and trigger them via crontab(by priority), or smth like that.

Or this job belongs to something else than Events ?

Because I used Events to send emails - it is OK if you send emails using local mail server,
but if for example you try to auth to Gmail s